body
{
	margin:1em;
	max-width:786px;
}
table
{
border-collapse: collapse;
}
td
{
	text-overflow:ellipsis;
	vertical-align:top;
}
a
{
	text-decoration:none;
}
img
{
	max-width:100%;
	max-height:100%;
	vertical-align:middle;
}
.pagenumber
{
font-weight:bold;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:right;
}
.main
{
color:#A41681;
font-size:230%;
letter-spacing:2px;
text-align:left;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
figure
{
max-width:100%;
max-height:100%;
vertical-align:middle;
text-align:center;
margin-left:0em;
margin-bottom:1em;
margin-right:0em;
margin-top:1em;
}
.title
{
font-size:220%;
text-align:left;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.title1
{
color:#A41681;
letter-spacing:1px;
font-size:250%;
text-align:left;
margin-top:0em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.title2
{
color:#2E3192;
font-size:120%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
span.ed
{
padding:0.3em;
border: 1pt solid #2E3192;
border-radius: 13px;
}
.author
{
color:#00929E;
font-size:120%;
text-align:left;
margin-top:2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.authorinfo
{
font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.copy
{
font-size:90%;
text-align:center;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.noindent
{
font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.indent
{
font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:1.5em;
}
.right
{
font-size:100%;
text-align:right;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.h2
{
font-size:140%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
color:#3F4096;
}
.h3
{
border-top:1pt solid #3F4096;
font-size:130%;
text-align:left;
padding-top:0.2em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
color:#3F4096;
}
.h3a
{
font-size:130%;
text-align:left;
padding-top:0.2em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
color:#3F4096;
}
.sandal
{
background-color:#FFF9E7;
padding:0.5em;
}
.sandal1
{
background-color:#FFEEBE;
padding:0.5em;
}
aside.abc {
   margin-left: 0em;
   margin-top: 0em;
   margin-bottom: 0em;
   width: 25%;
   float: right;
}
.h4
{
font-size:125%;
text-align:left;
margin-top:1.2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
color:#3F4096;
}
span.semi
{
font-weight:bold;
color:#000000;
font-size:120%;
}
span.semi1
{
font-weight:bold;
}
span.light
{
color:#000000;
font-size:110%;
}
span.light1
{
}
.toc
{
font-size:100%;
text-align:left;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.toc1
{
color:#2E3192;
font-size:100%;
text-align:left;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.toc2
{
color:#2E3192;
font-weight:bold;
font-size:100%;
text-align:left;
margin-top:0.3em;
margin-bottom:0em;
margin-left:2em;
margin-right:0em;
text-indent:-0.9em;
}
.toc3
{
font-weight:bold;
font-size:100%;
text-align:left;
margin-top:0.3em;
margin-bottom:0em;
margin-left:4.1em;
margin-right:0em;
text-indent:-2em;
}
.toc4
{
font-weight:bold;
font-size:100%;
text-align:left;
margin-top:0.3em;
margin-bottom:0em;
margin-left:5.4em;
margin-right:0em;
text-indent:-1.3em;
}
.toc5
{
font-weight:bold;
color:#14A2CB;
font-size:100%;
text-align:left;
margin-top:0.3em;
margin-bottom:0em;
margin-left:1em;
margin-right:0em;
text-indent:0em;
}
.toc6
{
font-weight:bold;
color:#14A2CB;
font-size:115%;
text-align:left;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.toc7
{
color:#2E3192;
font-size:115%;
text-align:left;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.toc8
{
color:#2E3192;
font-size:115%;
text-align:left;
margin-top:0.8em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.toc9
{
font-weight:bold;
font-size:100%;
text-align:left;
margin-top:0.3em;
margin-bottom:0em;
margin-left:4.7em;
margin-right:0em;
text-indent:-2.7em;
}
.toc10
{
font-weight:bold;
font-size:100%;
text-align:left;
margin-top:0.3em;
margin-bottom:0em;
margin-left:5.8em;
margin-right:0em;
text-indent:-1.3em;
}
.toc11
{
font-weight:bold;
font-size:110%;
text-align:left;
margin-top:0.3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.toc12
{
font-size:100%;
text-align:left;
margin-top:0.2em;
margin-bottom:0em;
margin-left:1.8em;
margin-right:0em;
text-indent:-0.8em;
}
.pink
{
color:#A41681;
font-weight:bold;
margin:0em;
width:15%;
font-size:100%
}
td.td1
{
padding:0em;
font-size:100%
}
span.italic2
{
color:#58585A;
font-style:italic;
}
span.italic1
{
font-size:105%;
font-style:italic;
}
.h2a
{
font-size:120%;
text-align:left;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.h2a1
{
font-size:150%;
text-align:left;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.pagebreak
{
page-break-after: always;
margin:0em;
}
.chcont
{
color:#7A005E;
font-weight:bold;
font-size:100%;
text-align:left;
margin-top:0.5em;
margin-bottom:0.5em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.chtoc
{
font-size:100%;
text-align:left;
margin-top:0.3em;
margin-bottom:0em;
margin-left:2em;
margin-right:0em;
text-indent:-2em;
color:#2E3192;
}
.chtoc1
{
font-size:100%;
text-align:left;
margin-top:0.3em;
margin-bottom:0em;
margin-left:3.2em;
margin-right:0em;
text-indent:-1.3em;
}
.chtoc2
{
font-size:100%;
text-align:left;
margin-top:0.3em;
margin-bottom:0em;
margin-left:3.2em;
margin-right:0em;
text-indent:0em;
}
.chtoc3
{
font-size:100%;
text-align:left;
margin-top:0.3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
span.regular
{
font-size:80%;
font-weight:normal;
}
.h3a1
{
font-size:100%;
text-align:left;
margin-top:0.8em;
margin-bottom:0.3em;
margin-left:1.4em;
margin-right:0em;
text-indent:-1.4em;
color:#B11116;
}
span.red
{
color:#ED1C24;
}
.noindent1
{
font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.h2a2
{
font-weight:bold;
font-size:125%;
text-align:left;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
color:#3F4096;
}
.h4a1
{
font-weight:bold;
font-size:110%;
text-align:left;
margin-top:1em;
margin-bottom:0.5em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
color:#3F4096;
}
.blockquote
{
font-size:100%;
text-align:justify;
margin-top:1em;
margin-bottom:0.5em;
margin-left:1em;
margin-right:0em;
text-indent:0em;
}
.blockquote1
{
font-size:100%;
text-align:justify;
margin-top:1em;
margin-bottom:1em;
margin-left:2em;
margin-right:0em;
text-indent:0em;
}
.noindent2
{
font-size:100%;
text-align:justify;
margin-top:0.2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.green
{
background-color:#EFF7E8;
}
.green1
{
color:#FFFFFF;
background-color:#77C14F;
padding:0.3em;
}
.green2
{
font-weight:bold;
color:#78A842;
}
.brief
{
font-weight:bold;
font-size:105%;
text-align:left;
margin-top:1.2em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
color:#78A842;
}
.self1
{
width:70%;
font-size:90%;
text-align:left;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.self
{
font-size:90%;
text-align:left;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.ans
{
font-size:100%;
text-align:right;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
figcaption
{
text-align:left;
margin-left:0em;
margin-bottom:0.5em;
margin-right:0em;
margin-top:0.5em;
}
.tcaption
{
text-align:left;
margin-left:0em;
margin-bottom:0.5em;
margin-right:0em;
margin-top:0.5em;
text-indent:0em;
}
td.td2
{
text-align:center;
background-color:#E7E7E8;
border-top:1pt solid black;
}
td.td3
{
text-align:center;
background-color:#E7E7E8;
border-top:1pt solid black;
border-bottom:1pt solid black;
}
td.td5
{
text-align:left;
background-color:#E7E7E8;
border-top:1pt solid black;
border-bottom:1pt solid black;
}
td.td10
{
text-align:left;
background-color:#E7E7E8;
border-top:1pt solid black;
}
td.td11
{
text-align:left;
background-color:#E7E7E8;
border-bottom:1pt solid black;
}
td.td6
{
padding-left:10em;
text-align:left;
border-top:1pt solid black;
border-bottom:1pt solid black;
}
td.td8
{
text-align:left;
border-bottom:1pt solid black;
}
td.td7
{
text-align:left;
border-top:1pt solid black;
border-bottom:1pt solid black;
}
td.td4
{
text-align:left;
padding-left:1em;
text-indent:-1em;
}
td.td6
{
text-align:left;
padding-left:2em;
}
td.td5
{
text-align:left;
padding-left:1em;
text-indent:-1em;
border-bottom:1pt solid black;
}
.fig
{
font-weight:bold;
color:#58585A;
}
span.space
{
display:inline-block;
text-indent:0;
width:2em;
margin-left:0;
}
span.no
{
display:inline-block;
text-indent:0;
float: right;
text-align:right;
margin-right:0em;
}
h5.chemist
{
color:#00679E;
font-weight:bold;
font-size:110%;
text-align:left;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
padding-top:0.3em;
}
span.blue
{
background-color:#0089D0;
color:#FFFFFF;
padding:0.3em;
}
div.blue1
{
margin-top:0em;
padding-top:0em;
background-color:#E1EDF9;
}
.equ
{
font-size:100%;
text-align:justify;
margin-top:0.8em;
margin-bottom:0.8em;
margin-left:1.5em;
margin-right:0em;
text-indent:0em;
}
span.color1
{
color:#0089D0;
}
h5.example
{
color:#7A005E;
font-weight:bold;
font-size:110%;
text-align:left;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
padding-top:0.3em;
}
span.pink
{
background-color:#A41681;
color:#FFFFFF;
padding:0.3em;
}
div.pink1
{
margin-top:0em;
padding:0.5em;
background-color:#F4E6F1;
}
span.pink2
{
color:#7A005E;
padding:0.3em;
}
h4.checklist
{
border-top:2pt solid #14A2CB;
color:#14A2CB;
font-size:125%;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
span.checkbox
{
color:#14A2CB;
}
.check
{
font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:2.9em;
margin-right:0em;
text-indent:-2.9em;
}
.check
{
font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:3em;
margin-right:0em;
text-indent:-3em;
}
span.space1
{
display:inline-block;
text-indent:0;
width:1em;
margin-left:0;
}
span.size
{
font-size:150%;
}
.check1
{
font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:3.5em;
margin-right:0em;
text-indent:-3.5em;
}
span.space3
{
display:inline-block;
text-indent:0;
width:0.5em;
margin-left:0;
}
td.td1
{
text-align:left;
background-color:#EBF7FE;
border-top:1pt solid #14A2CB;
border-bottom:1pt solid #14A2CB;
}
.h3
{
border-top:1pt solid #3F4096;
font-size:130%;
text-align:left;
padding-top:0.2em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
color:#3F4096;
}
span.ex
{
color:#14A2CB;
}
.h2ab
{
font-size:110%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
border-top:1pt solid #14A2CB;
}
.h2ab1
{
font-size:110%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.exe1
{
font-size:90%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.h3ab1
{
font-size:110%;
text-align:left;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
color:#14A2CB;
}
.main1
{
font-size:230%;
letter-spacing:2px;
text-align:left;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.main2
{
font-size:200%;
color:#00929E;
text-align:left;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
span.pt
{
color:#006F79;
}
.pttoc
{
font-size:100%;
text-align:left;
margin-top:0.3em;
margin-bottom:0em;
margin-left:0.8em;
margin-right:0em;
text-indent:-0.8em;
}
.pttoc1
{
font-size:100%;
text-align:left;
margin-top:0.3em;
margin-bottom:0em;
margin-left:3.2em;
margin-right:0em;
text-indent:-1.3em;
}
span.chsub
{
color:#0096A1;
}
.h3ab3
{
font-size:120%;
text-align:left;
padding-top:0.2em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.numlist
{
font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:3em;
margin-right:0em;
text-indent:-1.8em;
}
.justi
{
border-top:1pt solid #ED1C24;
font-weight:bold;
font-size:105%;
text-align:left;
margin-top:1.2em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
color:#B11116;
padding-top:0.3em;
}
span.red1
{
padding:0.3em;
color:#FFFFFF;
background-color:#ED1C24;
}
span.colr1
{
color:#2E3192;
}
.h2a21
{
font-weight:bold;
font-size:125%;
text-align:left;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
color:#16C1F3;
}
.main2b
{
font-size:200%;
color:#0089D0;
text-align:left;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
span.chsubb
{
color:#0089D0;
}
.exe1-t
{
font-size:90%;
text-align:justify;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.color-sblue
{
color:#0089D0;
}
.blist2
{
font-size:100%;
text-align:left;
margin-top:0.5em;
margin-bottom:0.5em;
margin-left:0.65em;
margin-right:0em;
text-indent:-0.69em;
}
.noindent-t
{
font-size:100%;
text-align:justify;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.noindent2t
{
font-size:100%;
text-align:justify;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.exe1t
{
font-size:90%;
text-align:justify;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.exe1tb
{
font-size:90%;
text-align:justify;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.noindentt
{
font-size:100%;
text-align:justify;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
td.td6s
{
padding-left:10em;
text-align:left;
border-top:1pt solid black;
border-bottom:1pt solid black;
border-top:1pt solid black;
}
.noindents1
{
font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:1.7em;
margin-right:0em;
text-indent:0em;
}
.main2b
{
font-size:200%;
color:#0089D0;
text-align:left;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.indentss
{
font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:1em;
margin-right:0em;
text-indent:1.5em;
}
.indentt
{
font-size:100%;
text-align:justify;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:1.5em;
}
h5.exampless
{
color:#00679E;
font-weight:bold;
font-size:110%;
text-align:left;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
padding-top:0.3em;
}
.noins
{
font-size:100%;
text-align:right;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
background-color:#FFEEBE;
padding:0.5em;
}
.color-blue
{
color:#2E3192;
}
.blist
{
font-size:100%;
text-align:left;
margin-top:0.5em;
margin-bottom:0.5em;
margin-left:3em;
margin-right:0em;
text-indent:-0.6em;
}
td.td5s
{
text-align:center;
background-color:#E7E7E8;
border-top:1pt solid black;
border-bottom:1pt solid black;
}
td.td4s
{
text-align:left;
padding-left:1em;
text-indent:-1em;
background-color:#16C1F3;
}
span.space1s
{
display:inline-block;
text-indent:0;
width:0.5em;
margin-left:0;
}
.equs
{
font-size:100%;
text-align:justify;
margin-top:0.8em;
margin-bottom:0.8em;
margin-left:4em;
margin-right:0em;
text-indent:0em;
}
.blistt
{
font-size:100%;
text-align:left;
margin-top:1em;
margin-bottom:0.5em;
margin-left:3em;
margin-right:0em;
text-indent:-0.6em;
}
td.td4ss
{
text-align:left;
padding-left:1em;
text-indent:-1em;
border-bottom:1px solid;
border-top:1px solid;
}
td.td4ss1
{
text-align:left;
padding-left:1em;
text-indent:-1em;
border-bottom:1px solid;
}
.h2abs
{
font-size:110%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.right-k
{
font-size:100%;
text-align:right;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.pttoc-k
{
font-size:100%;
text-align:left;
margin-top:0.3em;
margin-bottom:0em;
margin-left:5em;
margin-right:0em;
text-indent:-5.5em;
}
.pttoci-k
{
font-size:100%;
text-align:left;
margin-top:0.3em;
margin-bottom:0em;
margin-left:.7em;
margin-right:0em;
text-indent:0em;
}
.eq-k
{
font-size:100%;
text-align:justify;
margin-top:0.3em;
margin-bottom:0.2em;
margin-left:1em;
margin-right:0em;
text-indent:0em;
}
.imagecenter
{
font-size:100%;
text-align:center;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.mainb2
{
font-size:200%;
color:#0089D0;
text-align:left;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}

.color-pink
{
color:#7A005E;
}
.tnote
{
font-size:90%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.color-green
{
color:#73A534;
}
.chtocb
{
font-size:100%;
text-align:left;
margin-top:0.3em;
margin-bottom:0em;
margin-left:2em;
margin-right:0em;
text-indent:-2em;
color:#00679E;
}
.a-list
{
font-size:100%;
text-align:justify;
margin-top:0.5em;
margin-bottom:0.5em;
margin-left:3em;
margin-right:0em;
text-indent:-1.5em;
}
td.borb
{
border-top:1px solid black;
border-bottom:1px solid black;
}
.blist1
{
font-size:100%;
text-align:left;
margin-top:0.5em;
margin-bottom:0.5em;
margin-left:4em;
margin-right:0em;
text-indent:-3em;
}
span.padding
{
font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0.5em;
margin-right:0em;
text-indent:0em;
}
.blist-3
{
font-size:100%;
text-align:left;
margin-top:0.5em;
margin-bottom:0.5em;
margin-left:3em;
margin-right:0em;
text-indent:-1.3em;
}
td.td5s1
{
text-align:center;
background-color:#E7E7E8;
border-top:1pt solid black;
border-bottom:1pt solid black;
}
td.td5s2
{
text-align:center;
font-size:100%;
}
.main3
{
font-size:200%;
color:#2E3192;
text-align:left;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
span.chsub1
{
color:#2E3192;
}
.main2-n
{
font-size:200%;
color:#2E3192;
text-align:left;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.main2-n
{
font-size:200%;
color:#2E3192;
text-align:left;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
td.td-n
{
border-top:1pt solid black;
border-bottom:1pt solid black;
}
td.td-n1
{
font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:1em;
margin-right:0em;
text-indent:-1em;
}
td.td-n1t
{
font-size:100%;
text-align:justify;
margin-top:1em;
margin-bottom:0em;
margin-left:1em;
margin-right:0em;
text-indent:-1em;
}
.main2a
{
font-size:250%;
font-weight:normal;
color:#2E3192;
text-align:left;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
span.chsubba
{
color:#3E4096;
}
.blue2
{
color:#3E4096;
}
span.pinkr
{
color:#A41681;
}
span.grey
{
color:#58585A;
}
.sandal2
{
background-color:#FEF0DA;
padding:0.5em;
}
.check3-ka
{
font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:4em;
margin-right:0em;
text-indent:-4em;
}
ul.none
{
list-style-type:none;
text-align:left;
margin-left:-0.2em;
text-indent:-1em;
}
.white
{
background-color:#FFFFFF;
padding-left:0.5em;
padding-right:0.5em;
padding-bottom:0.5em;
padding-top:0em;
margin-left:2em;
width:60%;
}
.tabcap
{
font-size:95%;
text-align:left;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.hangL
{
font-size:100%;
text-align:left;
margin-top:0.2em;
margin-bottom:0em;
margin-left:2em;
margin-right:0em;
text-indent:-1em;
}
.hang
{
font-size:100%;
text-align:justify;
margin-top:0.2em;
margin-bottom:0em;
margin-left:1em;
margin-right:0em;
text-indent:-1em;
}
.hang1
{
font-size:100%;
text-align:justify;
margin-top:1em;
margin-bottom:0em;
margin-left:1em;
margin-right:0em;
text-indent:-1em;
}
td.td4-c
{
text-align:center;
padding-left:1em;
}
td.td4a
{
text-align:right;
padding-left:0em;
text-indent:0em;
}
.boxblue
{
background-color:#E1EDF9;
}
.boxblue1
{
color:#FFFFFF;
background-color:#0089CF;
padding:0.3em;
}


.page {
    display: block;
    margin: 2em 0;
    text-align: right;
    font-weight: bold;
 /* display: none; */
width:100%;
}



