body
{
	margin:1em;
	max-width:768px;
}
td
{
	text-overflow:ellipsis;
	vertical-align:top;
}
a
{
	text-decoration:none;
}
img
{
	max-width:100%;
	max-height:100%;
	vertical-align:middle;
}


        .term .term {
            margin-left: 1em;
        }

        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

.pagenumber
{
font-weight:bold;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0.5em;
text-align:right;
}
.fmhead
{

font-size:160%;
text-align:center;
margin-top:1em;
margin-bottom:0.2em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.fmhead1
{

font-size:200%;
text-align:left;
margin-top:0.5em;
margin-bottom:1em;
margin-left:1em;
margin-right:0em;
text-indent:0em;
}
.fmauthor
{

font-size:180%;
text-align:left;
margin-top:1em;
margin-bottom:0em;
margin-left:1em;
margin-right:0em;
text-indent:0em;
}
.fmauthor1
{

font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0.3em;
margin-left:1.7em;
margin-right:0em;
text-indent:0em;
}
.fmpub
{
font-size:100%;
text-align:center;
margin-top:6em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.copy
{

font-size:90%;
text-align:center;
margin-top:0.4em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.copy1
{

font-size:90%;
text-align:center;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.copy2
{

font-size:90%;
text-align:center;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.fmattribute
{

font-size:100%;
text-align:right;
margin-top:0.3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.fmattribute1
{

font-size:100%;
text-align:right;
margin-top:0.3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.fmcenter
{

text-align:center;
margin-left:0em;
margin-bottom:0em;
margin-right:0em;
margin-top:1em;
}
.width100
{
width: 100%;
margin-top: 1em;
margin-bottom: 1em;
}
.width100a
{
width: 100%;
margin: auto;
border:1pt solid black;
}
.fmcont
{

font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:1em;
margin-left:1.5em;
margin-right:0em;
text-indent:-1.5em;
}
.fmcont1
{

font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:1em;
margin-left:1.5em;
margin-right:0em;
text-indent:0em;
}
span.no
{
display:inline-block;
text-indent:0;
float: right;
text-align:right;
margin-right:-14.5em;
}
span.no1
{
display:inline-block;
text-indent:0;
float: right;
text-align:right;
margin-right:-24.3em;
}
span.space
{
display:inline-block;
text-indent:0;
width:1em;
margin-left:0;
}
.fmmain
{

font-size:170%;
text-align:left;
margin-top:1em;
margin-bottom:1em;
margin-left:1.5em;
margin-right:0em;
text-indent:-1.5em;
}
.fmnoindent
{

font-size:100%;
text-align:justify;
margin-top:0.2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.fmindent
{

font-size:100%;
text-align:justify;
margin-top:0.2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:2em;
}
aside.bmabc {

   margin-left: 1em;
   margin-top: 0em;
   margin-bottom: 0em;
   width: 25%;
   float: right;
}
.bmnoindent2
{

font-size:100%;
text-align:left;
margin-top:-0.3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:90%;
}
ul.indexmain
{
list-style-type: none;

font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-left:-1em;
margin-right:0em;
}
li.indexmain1
{
list-style-type: none;

font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-left:-1.3em;
margin-right:0em;
}
li.indexsub
{

font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-left:-0.5em;
margin-right:0em;
text-indent:0em;
}
.fmindenthang
{

font-size:100%;
margin-top:0.3em;
margin-bottom:0em;
margin-left:2em;
margin-right:0em;
text-indent:-2em;
}
.fmborderb
{
border-bottom:1pt solid black;
}
.bmnoindent
{

font-size:100%;
text-align:justify;
margin-top:0.2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:70%;
}
.bmindent
{
width:70%;

font-size:100%;
text-align:justify;
margin-top:0.2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:2em;
}
.figba
{
max-width:100%;
max-height:100%;
vertical-align:middle;
text-align:center;
margin-left:0em;
margin-bottom:1em;
margin-right:0em;
margin-top:1em;
width:70%;
}
.fig1
{
max-width:100%;
max-height:100%;
vertical-align:middle;
text-align:left;
margin-left:0em;
margin-bottom:1em;
margin-right:0em;
margin-top:1em;
}
.fcaption
{

font-size:90%;
text-align:center;
margin-top:0em;
margin-bottom:0em;
margin-left:8em;
margin-right:0em;
text-indent:0em;
}
.fcaption1
{

font-size:90%;
text-align:center;
margin-top:0em;
margin-bottom:0.3em;
margin-left:1em;
margin-right:0em;
text-indent:0em;
}
.fcaption2
{

font-size:90%;
text-align:left;
margin-top:0em;
margin-bottom:0.3em;
margin-left:1em;
margin-right:0em;
text-indent:0em;
}
.babacenter
{

font-size:100%;
text-align:center;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:70%;
}


.main
{

font-size:140%;
text-align:left;
margin-top:1em;
margin-bottom:0.25em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
span.bi
{

}
span.bold
{

}
span.italic
{
}
.h2
{

font-size:120%;
text-align:left;
margin-top:1em;
margin-bottom:0.5em;
margin-left:2.4em;
margin-right:0em;
text-indent:-2.4em;
width:65%;
}
.h2a
{

font-size:120%;
text-align:left;
margin-top:1em;
margin-bottom:0.5em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.noindent
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:70%;
}
.noindent1
{

font-size:100%;
text-align:justify;
margin-top:0.6em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:70%;
}
.indent
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:1.5em;
width:70%;
}
.image
{
font-size:100%;
text-align:center;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.caption
{

font-size:90%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
aside.abc {

   margin-left: 0em;
   margin-top: 0em;
   margin-bottom: 0em;
   width: 25%;
   float: right;
}
.noindent2
{

font-size:90%;
text-align:justify;
margin-top:-0.3em;
margin-bottom:0em;
margin-left:2em;
margin-right:0em;
text-indent:0em;
width:90%;
}
.indent2
{
width:100%;

font-size:90%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:1.5em;
}
.blockquote
{

font-size:100%;
text-align:justify;
margin-top:0.2em;
margin-bottom:0em;
margin-left:2em;
margin-right:0em;
text-indent:0em;
width:66%;
}
ul
{
width:67%;

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0.2em;
margin-left:-1.4em;
margin-right:0em;
text-indent:0em;
}
figure
{
	max-width:100%;
	max-height:100%;
	vertical-align:middle;
	text-align:center;
margin-left:0em;
margin-bottom:1em;
margin-right:0em;
margin-top:1em;
}

figcaption
{

text-align:left;
margin-left:0em;
margin-bottom:1em;
margin-right:0em;
margin-top:0.5em;
width:70%;
font-size:90%;
}
.h3
{

font-size:110%;
text-align:left;
margin-top:1em;
margin-bottom:0.5em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:70%;
}
.indent1
{

width:70%;
font-size:100%;
text-align:justify;
margin-top:0.6em;
margin-bottom:0em;
margin-left:0.5em;
margin-right:0em;
text-indent:1.5em;
}
.center
{

font-size:100%;
text-align:center;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.bacenterba
{

font-size:80%;
text-align:center;
margin-top:1em;
margin-bottom:0em;
margin-left:-25em;
margin-right:0em;
text-indent:0em;
}
.center1
{

font-size:90%;
text-align:center;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.indenthang
{

font-size:100%;
margin-top:0.3em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:0em;
text-indent:-1em;
}
.baindenthang
{
width:68%;

font-size:100%;
margin-top:0.3em;
margin-bottom:0em;
margin-left:1em;
margin-right:0em;
text-indent:-1em;
}
.indenthanga
{

font-size:100%;
margin-top:0.3em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:0em;
text-indent:-1.3em;
}





.noindent-sp
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:70%;
}

.indent-sp
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:2em;
width:70%;
}


.noindent2-bh
{

font-size:90%;
text-align:left;
margin-top:-0.3em;
margin-bottom:0.3em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:90%;
}
.figure-bh
{
	max-width:100%;
	max-height:100%;

	text-align:left;
margin-left:0em;
margin-bottom:0.5em;
margin-right:0em;
margin-top:1em;
}

.noindent2-hang-bh
{

font-size:90%;
text-align:left;
margin-top: 0.3em;
margin-bottom:0em;
margin-left:3.9em;
margin-right:0em;
text-indent:-3.9em;
width:80%;
}
.noindent2-cen
{

font-size:90%;
text-align:center;
margin-top:-0.3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:90%;
}
.noindent2-sd
{

font-size:90%;
text-align:left;
margin-top:0em;
margin-bottom:0.2em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:90%;
}
.noindent2-hang-bh1
{

font-size:90%;
text-align:left;
margin-top: 0.3em;
margin-bottom:0em;
margin-left:4.2em;
margin-right:0em;
text-indent:-4.2em;
width:80%;
}
.noindent2-bt
{

font-size:90%;
text-align:left;
margin-top:0em;
margin-bottom:0.8em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:90%;
}


.noindent3-bh
{

font-size:90%;
text-align:left;
margin-top:0em;
margin-bottom:0.8em;
margin-left:3em;
margin-right:0em;
text-indent:0em;
width:90%;
}
table.tab5
{
margin-bottom:0.8em;
margin-left:0.4em;
}
.noindent3-ka
{
width:68%;

font-size:100%;
text-align:justify;
margin-top:0.2em;
margin-bottom:0em;
margin-left:1em;
margin-right:0em;
text-indent:0em;
}
.indent3-ka
{

width:70%;
font-size:100%;
text-align:justify;
margin-top:0.4em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:2em;
}
.centeralign
{

font-size:100%;
text-align:center;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:70%;
}
.center-1
{
width:70%;

font-size:100%;
text-align:center;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}


figure-1
{
	max-width:85%;
	max-height:100%;
	vertical-align:middle;
	text-align:center;
margin-left:3em;
margin-bottom:1em;
margin-right:0em;
margin-top:1.5em;
}


figcaption-1
{
width:70%;

text-align:center;
margin-left:0em;
margin-bottom:1em;
margin-right:0em;
margin-top:0em;
}



.tabled
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.tabled-1
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}

.banoindent
{

font-size:100%;
text-align:center;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:70%
}
    
	
	
	
	
	
	div.graybox
	{
        width:97%;
	margin-left:0em;
	margin-top:0em;
	margin-bottom:0.5em;
	border-spacing:0px;
        padding-top:0.2em;
		padding-bottom:0.4em;
		padding-left:1em;
       	background-color:#c6c6c6;
	border-collapse: collapse;
}



.hang-ka
{
width:68%;

font-size:100%;
margin-top:0.3em;
margin-bottom:0em;
margin-left:1.7em;
margin-right:0em;
text-indent:-1.7em;
text-align:justify;
}
.hang-ka1
{


font-size:100%;
margin-top:0.3em;
margin-bottom:0em;
margin-left:-11em;
margin-right:0em;
text-indent:0em;
text-align:justify;
}
.hang-ka2
{


font-size:100%;
margin-top:0.3em;
margin-bottom:0em;
margin-left:3.4em;
margin-right:0em;
text-indent:-3.4em;
width:65%;
text-align:justify;
}
.hang-ka2a
{


font-size:100%;
margin-top:0.3em;
margin-bottom:0em;
margin-left:4.2em;
margin-right:0em;
text-indent:-4.2em;
width:62%;
text-align:justify;
}
.hang-ka2b
{


font-size:100%;
margin-top:0.3em;
margin-bottom:0em;
margin-left:4.2em;
margin-right:0em;
text-indent:-2.2em;
width:62%;
text-align:justify;
}
.hang-ka3
{


font-size:100%;
margin-top:0.3em;
margin-bottom:0em;
margin-left:3.5em;
margin-right:0em;
text-indent:-1.5em;
width:70%;
text-align:justify;
}
.hang-ka4
{


font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:2.2em;
margin-right:0em;
text-indent:-2.2em;
width:66%;
text-align:justify;
}
.hang-ka5
{


font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:4.2em;
margin-right:0em;
text-indent:-2em;
width:64%;
text-align:justify;
}
.hang-ka5a
{


font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:4.3em;
margin-right:0em;
text-indent:-2.3em;
width:64%;
text-align:justify;
}
.hang-ka6
{


font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:4.5em;
margin-right:0em;
text-indent:-1em;
width:61%;
text-align:justify;
}
.hang-ka7
{


font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:4.5em;
margin-right:0em;
text-indent:-2.3em;
width:61%;
text-align:justify;
}
.hang-ka6a
{


font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:4.5em;
margin-right:0em;
text-indent:0em;
width:61%;
text-align:justify;
}
.line{
  border-bottom: solid 2px;
  margin-top: 0.2em;
  margin-left: 0em;
  margin-right: 0em;
  padding-top: 0px;
  margin-bottom: 0em;
  width:70%;
  }
  
.line1{
  border-bottom: dotted 2px;
  margin-top: -0.5em;
  margin-left: 0em;
  margin-right: 0em;
  padding-top:0px;
  margin-bottom: 0em;
  width:70%;
  }  
  
  
  
  .width100b
{
width: 100%;
border-top:2pt solid black;
border-bottom:2pt solid black;
margin-left:0em;
}
.bawidth100b
{
width: 66%;
border-top:1pt solid black;
border-bottom:1pt solid black;
}
.width100ba
{
margin:0em;
width: 100%;

}
.width50
{
width: 50%;
}
.width25
{
width: 25%;
}
.borderbw25
{
width: 100%;
border-bottom:1pt solid black;
}
.borderbw30
{
width: 30%;
border-bottom:1pt solid black;
}
.borderbw35
{
width: 35%;
border-bottom:1pt solid black;
}
.tabled
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
table
{
border-collapse:collapse;
}

.center-ka
{

font-size:100%;
text-align:center;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:90%;
}
.left-ka
{
font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-left:2.2em;
margin-right:0em;
text-indent:0em;
width:66%;
text-align:justify;
}
.left-ka1
{
font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-left:4.1em;
margin-right:0em;
text-indent:0em;
width:70%;
}

.noindent-ka
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:70%;
}

.noindent2-ka
{
font-size:90%;
text-align:left;
margin-top:-0.3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:90%;
}


.indent-ka
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:1em;
width:70%;
}








.num-hang
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:1.7em;
margin-right:0em;
text-indent:-1.7em;

}
.hang-cen
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:3.5em;
margin-right:0em;
text-indent:0em;

}

.fmcont1-new
{

font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}

.alpha-hang
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:2.1em;
margin-right:0em;
text-indent:-2.1em;
width:66%;
}
.noindent-hang
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:2.2em;
margin-right:0em;
text-indent:0em;
width:65%;
}
.noindent-left-3
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0.1em;
margin-left:4.5em;
margin-right:0em;
text-indent:-2.4em;
width:61%;
}
.noindent-left-4
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0.1em;
margin-left:4.4em;
margin-right:0em;
text-indent:-2.4em;
width:61%;
}
.noindent-left
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0.1em;
margin-left:4.3em;
margin-right:0em;
text-indent:-2.2em;
width:61%;
}
.noindent-left-hang
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0.1em;
margin-left:4.2em;
margin-right:0em;
text-indent:-4.1em;
width:61%;
}
.noindent-left-2
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0.1em;
margin-left:4.3em;
margin-right:0em;
text-indent:-2.2em;
width:61%;
}
.number-hang
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0.1em;
margin-left:2em;
margin-right:0em;
text-indent:-1.8em;
width:65%;
}
.number-hang-bt
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:2em;
margin-left:2em;
margin-right:0em;
text-indent:-1.8em;
width:65%;
}
.noindent-left-text
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0.1em;
margin-left:2em;
margin-right:0em;
text-indent:0em;
width:66%;
}
.alpha-hang-bt
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:2em;
margin-left:2.1em;
margin-right:0em;
text-indent:-2.1em;
width:66%;
}

.noindent-bottom
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0.8em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:70%;
}
.indent-left-text
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0.1em;
margin-left:2em;
margin-right:0em;
text-indent:1.8em;
width:66%;
}
span.under
{
text-decoration:underline;
}










.box
{

font-size:100%;
text-align:justify;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
border-top:1pt solid black;
border-bottom:1pt solid black;
border-right:1pt solid black;
border-left:1pt solid black;
padding-top:0.3em;
padding-right:0.3em;
padding-left:0.3em;
padding-bottom:0em;
background-color:#c6c6c6;
}
.bor
{
width:70%;
border-bottom:2pt solid black;
}

.bor1
{
width:70%;
border-bottom:dotted 1.5pt;
}

.noindent2a
{

font-size:90%;
text-align:justify;
margin-top:-0.3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:100%;
}

.noindenta
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:70%;
}
.li
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:2em;
margin-right:0em;
text-indent:-2em;
width:66%;
}
.li-a
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:3.6em;
margin-right:0em;
text-indent:-3.6em;
width:63%;
}
table
{
margin-bottom:1em;
margin-left:1em;
}

.li-a1
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:0em;
text-indent:-0.1em;
width:63%;
}

.li-a2
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:3.2em;
margin-right:0em;
text-indent:-3.2em;
width:63%;
}

.noindent-0
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0.4em;
margin-left:2em;
margin-right:2em;
text-indent:0em;
width:67%;
}
h1.ch-title
{

font-size:200%;
text-align:left;
margin-top:1em;
margin-bottom:1.75em;
margin-left:1.5em;
margin-right:0em;
text-indent:-1.5em;
width:70%;
}
.sidebar
{

font-size:90%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:100%;
}
.eq
{

font-size:100%;
text-align:center;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.tab-cap
{

font-size:100%;
text-align:left;
margin-top:1em;
margin-bottom:0.5em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:70%
}
.tab-c
{

font-size:100%;
text-align:center;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.tab-c1
{

font-size:100%;
text-align:center;
margin-top:0.25em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.borb
{
border-bottom:1pt solid black;
padding-top:0.2em;
padding-bottom:0.2em;
}
.tab-l
{

font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-left:0.5em;
margin-right:0em;
text-indent:0em;
}
.imgc
{

font-size:100%;
text-align:center;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:70%;
}
.nlist
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:1.75em;
margin-right:0em;
text-indent:-1.75em;
width:70%;
}
.nlist-no
{

font-size:100%;
text-align:justify;
margin-top:0.5em;
margin-bottom:0em;
margin-left:1.75em;
margin-right:0em;
text-indent:1em;
width:70%;
}
.blist
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:1.25em;
margin-right:0em;
text-indent:-1.25em;
width:67%;
}
.indentt
{

font-size:100%;
text-align:justify;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:1.5em;
width:70%;
}




.tab-h
{

font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-left:1em;
margin-right:0em;
text-indent:-1em;
}
.tab-ht
{

font-size:100%;
text-align:left;
margin-top:1em;
margin-bottom:0em;
margin-left:1em;
margin-right:0em;
text-indent:-1em;
}
.imgc-n
{

font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-left:3em;
margin-right:0em;
text-indent:0em;
width:70%;
}

.noindentt
{

font-size:100%;
text-align:justify;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:70%;
}
.fig-k
{
text-align:left;
margin-left:0em;
margin-bottom:1em;
margin-right:0em;
margin-top:0.5em;
width:70%;
font-size:90%;
}
.tab-l-k
{

font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.main2
{

font-size:120%;
text-align:left;
margin-top:2em;
margin-bottom:0.25em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.ref
{
font-size:120%;
text-align:left;
margin-top:2em;
margin-bottom:0.5em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:70%;
}
.refer
{
font-size:100%;
text-align:left;
margin-top:0.5em;
margin-bottom:0.5em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:70%;
}
.box-tab
{
border-top:1px solid black;
border-bottom:1px solid black;
border-left:1px solid black;
border-right:1px solid black;
}
.page
{
display:block;
margin:2em 0;
text-align:right;
font-weight:bold;
}
.eqc
{

font-size:100%;
text-align:center;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:70%;
}
.tab-cap1
{

font-size:100%;
text-align:left;
margin-top:1em;
margin-bottom:0.5em;
margin-left:5em;
margin-right:0em;
text-indent:0em;
width:63%
}
.eql
{

font-size:94%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.tnote
{

font-size:90%;
text-align:justify;
margin-top:0em;
margin-bottom:0.5em;
margin-left:5.5em;
margin-right:0em;
text-indent:0em;
width:70%;
}
.tnote1
{

font-size:90%;
text-align:justify;
margin-top:0em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:70%;
}
.term > span.link {
        display: inline-block;
        text-indent: 0;
                text-align: right;
        margin-right: 0em;
        margin-left:0.5em;
    }
    .term .term > span.link {
        margin-right: 0em;
    }
    .head
{

font-size:160%;
text-align:center;
margin-top:1em;
margin-bottom:0.2em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.head1
{

font-size:220%;
text-align:left;
margin-top:0.25em;
margin-bottom:0.25em;
margin-left:0.5em;
margin-right:0em;
text-indent:0em;
}
.author
{

font-size:190%;
text-align:left;
margin-top:0.75em;
margin-bottom:0em;
margin-left:0.5em;
margin-right:0em;
text-indent:0em;
}
.author1
{

font-size:100%;
text-align:left;
margin-top:0.25em;
margin-bottom:0.5em;
margin-left:1em;
margin-right:0em;
text-indent:0em;
}
.borderb
{
border-bottom:1pt solid black;
}
span.fms
{
font-size:93%;
}
.fm-c
{

font-size:140%;
text-align:center;
margin-top:4em;
margin-bottom:0.25em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.fm-in
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0.25em;
margin-left:0em;
margin-right:0em;
text-indent:1.5em;
}

.fm-no
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0.25em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}

.pub
{
font-size:100%;
text-align:center;
margin-top:10em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.fm-img
{
font-size:100%;
text-align:center;
margin-top:3em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.attribute
{

font-size:100%;
text-align:right;
margin-top:0.3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.attribute1
{

font-size:100%;
text-align:right;
margin-top:0.3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.tabler
{

font-size:100%;
text-align:right;
margin-top:0.3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.cont
{

font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0.5em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.cont1
{

font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0.5em;
margin-left:1.2em;
margin-right:0em;
text-indent:0em;
}
.publish
{
font-size:100%;
text-align:center;
margin-top:0.5em;
margin-bottom:0.5em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}

.sidebarc
{

font-size:90%;
text-align:center;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:100%;
}
.nlist-n
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:3.5em;
margin-right:0em;
text-indent:-2.25em;
width:62%;
}
.border
{
border-bottom: 1px solid black;
}


.main1
{

font-size:140%;
text-align:left;
margin-top:2.5em;
margin-bottom:0.25em;
margin-left:1.5em;
margin-right:0em;
text-indent:-1.5em;
}
.main3
{

font-weight:normal;
font-size:110%;
text-align:left;
margin-top:1em;
margin-bottom:0.3em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
font-style:italic;
}
.borrb
{
border-right:2px solid black;
border-bottom:2px solid black;
}
.borb-s
{
border-bottom:2px solid black;
}
.borr
{
border-right:2px solid black;
}
.listll
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:5em;
margin-right:0em;
text-indent:-2.72em;
width:59.5%;
}
.padding
{margin-left:1.5em;}
.padding1
{margin-left:1.3em;}
.padding2
{margin-left:1.8em;}
.blockquote1
{

font-size:100%;
text-align:justify;
margin-top:0.2em;
margin-bottom:0em;
margin-left:2em;
margin-right:0em;
text-indent:0em;
width:60%;
}

.ll
{

font-size:90%;
text-align:left;
margin-top:0em;
margin-bottom:1em;
margin-left:3em;
margin-right:0em;
text-indent:-2.7em;
width:100%;
}
.ll1
{

font-size:90%;
text-align:left;
margin-top:0em;
margin-bottom:1em;
margin-left:4em;
margin-right:0em;
text-indent:-4em;
width:100%;
}