body
{
	margin:1em;
	max-width:786px;
}
td
{
	vertical-align:top;
}
img
{
	max-width:100%;
	max-height:100%;
	vertical-align:middle;
}
span.space
{
display:inline;
text-indent:0;
width:1em;
padding-left:0.5em;
}
.fmnoindent
{
font-size:100%;
text-align:justify;
margin-top:0.2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.fmindent
{
font-size:100%;
text-align:justify;
margin-top:0.2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:2em;
}

ul.indexmain
{
list-style-type: none;
font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-left:-1em;
margin-right:0em;
}
li.indexmain1
{
list-style-type: none;
font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-left:-1.3em;
margin-right:0em;
}
li.indexsub
{
font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-left:-0.5em;
margin-right:0em;
text-indent:0em;
}
.fig1a
{
max-width:100%;
max-height:100%;
vertical-align:middle;
text-align:right;
margin-left:0em;
margin-bottom:1em;
margin-right:0em;
margin-top:1em;
width:60%;
}
.fig1
{
max-width:100%;
max-height:100%;
vertical-align:middle;
text-align:center;
margin-left:0em;
margin-bottom:1em;
margin-right:0em;
margin-top:1em;
width:60%;
}
.fcaption
{
font-size:90%;
text-align:center;
margin-top:0em;
margin-bottom:0em;
margin-left:8em;
margin-right:0em;
text-indent:0em;
}

.tablecaption
{
font-size:100%;
text-align:left;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:60%;
}

.chaptitle
{
font-weight:bold;
font-size:150%;
text-align:left;
margin-top:1em;
margin-bottom:1em;
margin-left:1.25em;
margin-right:0em;
text-indent:-1.25em;
width:60%;
}
.h2
{
font-size:110%;
text-align:left;
margin-top:1em;
margin-bottom:0.5em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:60%;
}
.h3{
font-size:110%;
text-align:left;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:60%;
}
.h3a{
font-size:110%;
text-align:left;
margin-top:1em;
margin-bottom:0.1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:60%;
}

.noindent
{
font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:60%;
}
.noindent1
{
font-size:100%;
text-align:justify;
margin-top:0.6em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:60%;
}
.indent
{
font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:2em;
width:60%;
}

.image
{
font-size:100%;
text-align:center;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
aside.right {
   margin-left: 0em;
   margin-top: 0em;
   margin-bottom: 0em;
   margin-right: 0em;
   width: 35%;
   float: right;
}
.blockquote
{
font-size:100%;
text-align:justify;
margin-top:0.2em;
margin-bottom:0em;
margin-left:2em;
margin-right:0em;
text-indent:0em;
width:66%;
}
ul
{
width:67%;
font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0.2em;
margin-left:-1.4em;
margin-right:0em;
text-indent:0em;
}
figure{
 max-width:100%;
 max-height:100%;
 vertical-align:middle;
 text-align:center;
 margin-left:0em;
 margin-bottom:1em;
 margin-right:0em;
 margin-top:1em;
}
.figure{
 max-width:100%;
 max-height:100%;
 vertical-align:middle;
 text-align:center;
 margin-left:0em;
 margin-bottom:1em;
 margin-right:0em;
 margin-top:1em;
 width:60%;
}
figcaption
{
text-align:left;
margin-left:0em;
margin-bottom:1em;
margin-right:0em;
margin-top:0em;
font-size:90%;
}
.figcaption{
text-align:center;
margin-left:0em;
margin-bottom:1em;
margin-right:0em;
margin-top:0em;
font-size:90%;
}

.center
{
font-size:100%;
text-align:center;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
     .term .term {
            margin-left: 1em;
        }
      a {
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
table
{
	border-collapse:collapse;
}
.term1 {
list-style-type: none;
font-size: 100%;
text-align: left;
margin-top: 1em;
margin-bottom: 0em;
margin-left:0em;
margin-right: 0em;
}
span.underline
{
text-decoration:underline;
}
span.overline
{
text-decoration:overline;
}
.page {
    display: block;
    margin: 2em 0;
    text-align: right;
    font-weight: bold;
 /* display: none; */
width:100%;
}
.sidebar-left{
font-size:90%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:100%;
}
.sidebar-justify{
font-size:90%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:100%;
}
.sidebar-center{
font-size:90%;
text-align:center;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:100%;
}

ul.ul{
margin-top:0.75em;
margin-bottom:0.75em;
width:63%;
font-size:100%;
}

.equation{
font-size:100%;
text-align:center;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:60%;
}

.eqcaption{
text-align:left;
margin-left:0em;
margin-bottom:1em;
margin-right:0em;
margin-top:0em;
font-size:90%;
width:60%;
}


.figurecpl{
 max-width:100%;
 max-height:100%;
 vertical-align:middle;
 text-align:left;
 margin-left:0em;
 margin-bottom:1em;
 margin-right:0em;
 margin-top:1em;
 width:80%;
}
.figure-aside-center{
 max-width:100%;
 max-height:100%;
 vertical-align:middle;
 text-align:center;
 margin-left:0em;
 margin-bottom:1em;
 margin-right:0em;
 margin-top:1em;
 width:100%;
}
.figure-aside-left{
 max-width:100%;
 max-height:100%;
 vertical-align:middle;
 text-align:left;
 margin-left:0em;
 margin-bottom:1em;
 margin-right:0em;
 margin-top:1em;
 width:100%;
}
.figcaption-aside-left{
text-align:left;
margin-left:0em;
margin-bottom:1em;
margin-right:0em;
margin-top:0.5em;
font-size:90%;
width:100%;
}
.figcaption-aside-center{
text-align:center;
margin-left:0em;
margin-bottom:1em;
margin-right:0em;
margin-top:0.5em;
font-size:90%;
width:100%;
}
.figcaption-left-60{
text-align:left;
margin-left:0em;
margin-bottom:1em;
margin-right:0em;
margin-top:0.5em;
font-size:90%;
width:60%;
}
.figcaption-center-100{
text-align:center;
margin-left:0em;
margin-bottom:1em;
margin-right:0em;
margin-top:0.5em;
font-size:90%;
width:100%;
}
.figcaption-center-60{
text-align:center;
margin-left:0em;
margin-bottom:1em;
margin-right:0em;
margin-top:0.5em;
font-size:90%;
width:60%;
}
.tablecaption-aside-left{
text-align:left;
margin-left:0em;
margin-bottom:1em;
margin-right:0em;
margin-top:0.5em;
font-size:90%;
width:100%;
}
.tablecaption-aside-center{
text-align:center;
margin-left:0em;
margin-bottom:1em;
margin-right:0em;
margin-top:0.5em;
font-size:90%;
width:100%;
}
.tablecaption{
text-align:left;
margin-left:0em;
margin-bottom:1em;
margin-right:0em;
margin-top:0.5em;
font-size:90%;
width:100%;
}
.tablecaption-left-60{
text-align:left;
margin-left:0em;
margin-bottom:1em;
margin-right:0em;
margin-top:0.5em;
font-size:90%;
width:60%;
}
.tablecaption-center-100{
text-align:center;
margin-left:0em;
margin-bottom:1em;
margin-right:0em;
margin-top:0.5em;
font-size:90%;
width:100%;
}
.tablecaption-center-60
{
text-align:center;
margin-left:0em;
margin-bottom:1em;
margin-right:0em;
margin-top:0.5em;
font-size:90%;
width:60%;
}
.figure-center-60{
 max-width:100%;
 max-height:100%;
 vertical-align:middle;
 text-align:center;
 margin-left:0em;
 margin-bottom:1em;
 margin-right:0em;
 margin-top:1em;
 width:60%;
}
.figure-center-100{
 max-width:100%;
 max-height:100%;
 vertical-align:middle;
 text-align:center;
 margin-left:0em;
 margin-bottom:1em;
 margin-right:0em;
 margin-top:1em;
 width:100%;
}
.figure-left-60{
 max-width:100%;
 max-height:100%;
 vertical-align:middle;
 text-align:center;
 margin-left:0em;
 margin-bottom:1em;
 margin-right:0em;
 margin-top:1em;
 width:60%;
}
figcaption
{
text-align:left;
margin-left:0em;
margin-bottom:1em;
margin-right:0em;
margin-top:0em;
font-size:90%;
width:100%;
}
figure{
 max-width:100%;
 max-height:100%;
 vertical-align:middle;
 text-align:left;
 margin-left:0em;
 margin-bottom:1em;
 margin-right:0em;
 margin-top:1em;
 width:100%;
}

.border_31
{
border-top:2px solid;
border-bottom:2px solid;
padding-top:0.5em;
padding-left:0.5em;
width:100%;
}
.noindent_31
{
font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0.4em;
margin-left:0em;
margin-right:0em;
width:100%;
}
.mleft_31
{
text-align:left;
padding-left:7em;
margin-bottom:1em;
margin-right:0em;
margin-top:0em;
font-size:100%;
width:100%;
}
.mleft1_31
{
text-align:left;
padding-left:4em;
margin-bottom:1em;
margin-right:0em;
margin-top:0em;
font-size:100%;
width:100%;
}
.center60_31
{
text-align:center;
margin-left:0em;
margin-bottom:0em;
margin-right:0em;
margin-top:0em;
font-size:90%;
width:60%;
}
.figcaption31-justify-60{
text-align:justify;
margin-left:0em;
margin-bottom:1em;
margin-right:0em;
margin-top:0.5em;
font-size:90%;
width:60%;
}
.mleft2_31
{
text-align:left;
padding-left:1.5em;
margin-bottom:1em;
margin-right:0em;
margin-top:0em;
font-size:100%;
width:100%;
}
.left60_31
{
text-align:left;
margin-left:1em;
margin-bottom:0em;
margin-right:0em;
margin-top:0em;
font-size:90%;
width:60%;
}
.figure31-left-60{
 max-width:100%;
 max-height:100%;
 vertical-align:middle;
 text-align:left;
 margin-left:0em;
 margin-bottom:0em;
 margin-right:0em;
 margin-top:1em;
 width:60%;
}
.figcaption31-justify-100{
text-align:justify;
margin-left:0em;
margin-top:0.5em;
margin-bottom:1em;
margin-right:0em;
margin-top:0.5em;
font-size:90%;
width:100%;
}
.border60_31
{
border-top:2px solid;
border-bottom:2px solid;
padding-top:0.5em;
padding-left:0.5em;
width:60%;
}
.figcaption31-justify{
text-align:justify;
margin-left:0em;
margin-bottom:1em;
margin-right:0em;
margin-top:0.5em;
font-size:90%;
width:100%;
}
.noindent1_31
{
font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0.4em;
margin-left:0em;
margin-right:0em;
width:100%;
}
.figcaption-aside-justify{
text-align:justify;
margin-left:0em;
margin-bottom:1em;
margin-right:0em;
margin-top:0.5em;
font-size:90%;
width:100%;
}

.hang29
{
font-size:100%;
text-align:left;
margin:0em 0em 0em 2.3em;
text-indent:-2.3em;
width:55%;
}

.space29
{
display:inline;
text-indent:0;
width:1em;
padding-left:1.2em;
}


.source29
{
font-size:100%;
text-align:left;
margin:0em 0em 0em 0em;
padding:0em 0em 0em 0em;
text-indent:0em;
width:60%;
}

figure.figcpl
{
	max-width:100%;
	max-height:100%;
	text-align:center;
    margin-left:4em;
    margin-bottom:1em; 
    margin-right:0em;
    margin-top:1em;
    width:60%;
}

.hangcpl
{
	max-width:100%;
	max-height:100%;
	text-align:justify;
    margin-left:1.3em;
    text-indent:-1.3em;
    margin-bottom:0em; 
    margin-right:0em;
    margin-top:0em;
    width:58%;
}



.bor30
{
text-align:left;
margin-left:0em;
margin-bottom:0.1em;
margin-right:0em;
margin-top:1em;
font-size:100%;
border-top:2px solid;
width:60%;
}
.bor30n
{
text-align:left;
margin-left:0em;
margin-bottom:0em;
margin-right:0em;
margin-top:0em;
font-size:100%;
border-bottom:2px solid;
width:60%;
}
.equation30{
font-size:100%;
text-align:right;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}

h1.chaptitle1
{
font-size:200%;
text-align:center;
margin-top:1em;
margin-bottom:0.25em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}


.hangfb
{
border-bottom:solid 1px;
font-size:100%;
margin-top:0.3em;
margin-bottom:0em;
margin-right:0em;
}

.hangf
{
font-size:100%;
margin-top:0.3em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:0em;
text-indent:-1.5em;
padding-left:0.35em;
}

.hangf10
{
padding-left:0.15em;
font-size:100%;
margin-top:0.3em;
margin-bottom:0em;
margin-left:1.75em;
margin-right:0em;
text-indent:-1.75em;
}

.hangfb
{
border-bottom:solid 1px;
font-size:100%;
margin-top:0.3em;
margin-bottom:0em;
margin-right:0em;
}

.width
{
margin:0em;
width:100%;
}

.width100a
{
width:100%;
margin-top:1em;
margin-bottom:1em;
border:1pt solid black;
}

.fmborderb
{
border-bottom:1pt solid black;
}

.fmauthor
{
font-weight:bold;
font-size:200%;
text-align:left;
margin-top:0.2em;
margin-bottom:0em;
margin-left:1em;
margin-right:0em;
text-indent:0em;
}
.fmauthor1
{

font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0.3em;
margin-left:1.7em;
margin-right:0em;
text-indent:0em;
}

.ticenter
{
font-size:100%;
text-align:center;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:100%;
}

.tit{
text-align:left;
margin-top:5em;
padding-top:5em;
}

.fmhead1
{
font-weight:bold;
font-size:280%;
text-align:left;
margin-top:0.3em;
margin-bottom:0.5em;
margin-left:0.7em;
margin-right:0em;
text-indent:0em;
}

.ttoc{
width:60%;
}

.cont
{
font-size:100%;
text-align:left;
margin-top:1em;
margin-bottom:0em;
margin-left:1em;
margin-right:0em;
text-indent:-1em;
}
.cont1
{
font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-left:2.25em;
margin-right:0em;
text-indent:-2.25em;
padding-left:1em;
}

.indent1
{
font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:1.5em;
width:60%;
}
.noindent1a
{
font-size:100%;
text-align:justify;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:60%;
}