body
{
	margin:1em;
	max-width:786px;
}
td
{
	text-overflow:ellipsis;
	vertical-align:top;
}
a
{
	text-decoration:none;
	
}
img
{
	max-width:100%;
	max-height:100%;
	vertical-align:middle;
	}
.pagenumber
{
font-weight:bold;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:right;
}
span.space
{
display:inline-block;
text-indent:0;
width:1em;
margin-left:0;
}
.main
{

font-size:170%;
text-align:left;
margin-top:1em;
margin-bottom:1em;
margin-left:1.5em;
margin-right:0em;
text-indent:-1.5em;
}
.h2
{

font-size:120%;
text-align:left;
margin-top:1em;
margin-bottom:0.5em;
margin-left:2.4em;
margin-right:0em;
text-indent:-2.4em;
width:65%;
}
.h2a
{

font-size:120%;
text-align:left;
margin-top:1em;
margin-bottom:0.5em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.noindent
{
width:70%;

font-size:100%;
text-align:justify;
margin-top:0.2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.noindent1
{
width:70%;

font-size:100%;
text-align:justify;
margin-top:0.6em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.indent
{
width:70%;

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:1.2em;
}
.image
{
font-size:100%;
text-align:center;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.image1
{
font-size:100%;
text-align:left;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.caption
{

font-size:90%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
aside.abc {

   margin-left: 1em;
   margin-top: 0em;
   margin-bottom: 0em;
   width: 25%;
   float: right;
   font-size:90%;
}
aside.abc1 {

   margin-left: 1em;
   margin-top: 0em;
   margin-bottom: 0em;
   width: 55%;
   float: right;
   font-size:90%;
}
.noindent2
{

font-size:100%;
text-align:left;
margin-top:-0.3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:100%;
}
.indent2
{
width:100%;

font-size:90%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:2em;
}
.blockquote
{
width:66%;

font-size:100%;
text-align:justify;
margin-top:0.2em;
margin-bottom:0em;
margin-left:2em;
margin-right:0em;
text-indent:0em;
}
ul
{
width:67%;

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0.2em;
margin-left:-1em;
margin-right:0em;
text-indent:0em;
}
figure
{
	max-width:100%;
	max-height:100%;
	vertical-align:middle;
	text-align:center;
margin-left:0em;
margin-bottom:1em;
margin-right:0em;
margin-top:1em;
}
.figcaption1
{

text-align:left;
margin-left:0em;
margin-bottom:1em;
margin-right:0em;
margin-top:0em;
width:78%;
}
figcaption
{
width:70%;
text-align:center;
margin-left:1em;
margin-bottom:1em;
margin-right:0em;
margin-top:0em;

}
.h3
{

font-size:110%;
text-align:left;
margin-top:1em;
margin-bottom:0.5em;
margin-left:2.8em;
margin-right:0em;
text-indent:-2.8em;
width:65%;
}
.indent1
{

width:70%;
font-size:100%;
text-align:justify;
margin-top:0.6em;
margin-bottom:0em;
margin-left:0.5em;
margin-right:0em;
text-indent:1.2em;
}
.center
{

font-size:100%;
text-align:center;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.bacenterba
{

font-size:80%;
text-align:center;
margin-top:1em;
margin-bottom:0em;
margin-left:-25em;
margin-right:0em;
text-indent:0em;
}
.center1
{

font-size:90%;
text-align:center;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.indenthang
{

font-size:100%;
margin-top:0.3em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:0em;
text-indent:-1em;
}
.baindenthang
{
width:68%;

font-size:100%;
margin-top:0.3em;
margin-bottom:0em;
margin-left:1em;
margin-right:0em;
text-indent:-1em;
}
.indenthanga
{

font-size:100%;
margin-top:0.3em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:0em;
text-indent:-1.3em;
}


.noindent3-ka
{
width:68%;

font-size:100%;
text-align:justify;
margin-top:0.2em;
margin-bottom:0em;
margin-left:1em;
margin-right:0em;
text-indent:0em;
}
.indent3-ka
{

width:70%;
font-size:100%;
text-align:justify;
margin-top:0.4em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:1.2em;
}
.indent3-ka1
{

width:70%;
font-size:100%;
text-align:justify;
margin-top:0.1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:1em;
}
.width100b
{
width: 100%;
border-top:1pt solid black;
border-bottom:1pt solid black;
}
.bawidth100b
{
width: 66%;
border-top:1pt solid black;
border-bottom:1pt solid black;
}
.width100ba
{
margin:0em;
width: 100%;

}
.width50
{
width: 50%;
}
.width25
{
width: 25%;
}
.borderbw25
{
width: 25%;
border-bottom:1pt solid black;
}
.borderbw30
{
width: 30%;
border-bottom:1pt solid black;
}
.borderbw35
{
width: 35%;
border-bottom:1pt solid black;
}
.tabled
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
table
{
width:70%;
border-collapse:collapse;
}








.baindentt
{
width:68%;

font-size:100%;
text-align:justify;
margin-top:0.6em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:1em;
}
.tabcaption1
{

font-size:100%;
text-align:left;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.noindentt-3
{

font-size:100%;
text-align:justify;
margin-top:0.6em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:0em;
text-indent:-1.5em;
}
.noindentl
{

font-size:100%;
text-align:left;
margin-top:0.6em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.banoindent
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:70%;
}
.banoindent1
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:70%;
float:left;
}
.baindent
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:2em;
width:70%;
}

.head
{

font-size:160%;
text-align:center;
margin-top:1em;
margin-bottom:0.2em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.center
{

font-size:100%;
text-align:center;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.indenthang
{

font-size:100%;
margin-top:0.3em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:0em;
text-indent:-1em;
}
.pub
{
font-size: 100%;
text-align: center;
margin: 10em 0em 1em;
text-indent: 0em;
}
.author
{

font-size:180%;
text-align:left;
margin-top:0.5em;
margin-bottom:0em;
margin-left:1em;
margin-right:0em;
text-indent:0em;
}
.author1
{

font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0.3em;
margin-left:1.7em;
margin-right:0em;
text-indent:0em;
}
.head1
{

font-size:200%;
text-align:left;
margin-top:0.3em;
margin-bottom:0.5em;
margin-left:1em;
margin-right:0em;
text-indent:0em;
}

.cont
{

font-size:100%;
text-align:left;
margin-top:2em;
margin-bottom:0em;
margin-left:0.5em;
margin-right:0em;
text-indent:0em;
}
.cont1
{

font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-left:3.1em;
margin-right:0em;
text-indent:-1.66em;
}
.width100a
{
width: 100%;
margin-top: 1em;
margin-bottom: 1em;
border:1pt solid black;
}
.borderb
{
border-bottom:1pt solid black;
width:70%;
}

.h3a
{
width:70%;

font-size:90%;
text-align:left;
margin-top:1em;
margin-bottom:0.5em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}

.h1
{

font-size:170%;
text-align:left;
margin-top:1em;
margin-bottom:1em;
margin-left:1.5em;
margin-right:0em;
text-indent:-1.5em;
}
.copy2
{

font-size:90%;
text-align:center;
margin-top:.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.copy5
{

font-size:90%;
text-align:center;
margin-top:2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}

.copy3
{

font-size:90%;
text-align:center;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.copy4
{

font-size:90%;
text-align:center;
margin-top:.8em;
margin-bottom:-.2em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.copy
{

font-size:90%;
text-align:center;
margin-top:0.4em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.copy1
{

font-size:90%;
text-align:center;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.attribute
{

font-size:100%;
text-align:right;
margin-top:0.3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.attribute1
{

font-size:100%;
text-align:right;
margin-top:0.3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.fmnoindent
{

font-size:100%;
text-align:justify;
margin-top:0.2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.fmindent
{

font-size:100%;
text-align:justify;
margin-top:0.2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:2em;
}
.width100
{
width: 100%;
margin-top: 1em;
margin-bottom: 1em;
}



.noindent-sp
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:70%;
}

.indent-sp
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:2em;
width:70%;
}


.noindent2-bh
{

font-size:90%;
text-align:left;
margin-top:-0.3em;
margin-bottom:0.3em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:90%;
}
.figure-bh
{
	max-width:100%;
	max-height:100%;

	text-align:left;
margin-left:0em;
margin-bottom:0.5em;
margin-right:0em;
margin-top:1em;
}

.noindent2-hang-bh
{

font-size:90%;
text-align:left;
margin-top: 0.3em;
margin-bottom:0em;
margin-left:3.9em;
margin-right:0em;
text-indent:-3.9em;
width:80%;
}
.noindent2-cen
{

font-size:90%;
text-align:center;
margin-top:-0.3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:90%;
}
.noindent2-sd
{

font-size:90%;
text-align:left;
margin-top:0em;
margin-bottom:0.2em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:90%;
}
.noindent2-hang-bh1
{

font-size:90%;
text-align:left;
margin-top: 0.3em;
margin-bottom:0em;
margin-left:4.2em;
margin-right:0em;
text-indent:-4.2em;
width:80%;
}
.noindent2-bt
{

font-size:90%;
text-align:left;
margin-top:0em;
margin-bottom:0.8em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:90%;
}


.noindent3-bh
{

font-size:90%;
text-align:left;
margin-top:0em;
margin-bottom:0.8em;
margin-left:3em;
margin-right:0em;
text-indent:0em;
width:90%;
}
table.tab5
{
margin-bottom:0.8em;
margin-left:0.4em;
}


.h2a-bh
{

font-size:120%;
text-align:left;
margin-top:1em;
margin-bottom:1.5em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}

.indent-hang-bh
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0.1em;
margin-left:1.5em;
margin-right:0em;
text-indent:-1.5em;
width:66%;
}


.noindent-hanging-bh
{

font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0.6em;
margin-left:1.5em;
margin-right:0em;
text-indent:-1.5em;
width:100%;
}

.noindent-hanging-bh2
{

font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0.6em;
margin-left:1.5em;
margin-right:0em;
text-indent:-2em;
width:100%;
}
.indent-cen
{

font-size:100%;
text-align:center;
margin-top:0em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:2em;
width:70%;
}
.indent-sp
{

font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0.8em;
margin-left:0em;
margin-right:0em;
text-indent:2em;
width:70%;
}
.indent-bottom
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0.5em;
margin-left:0em;
margin-right:0em;
text-indent:2em;
width:70%;
}
.noindent-bottom
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:2em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:70%;
}

.noindent3-new
{

font-size:90%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-left:3em;
margin-right:0em;
text-indent:0em;
width:90%;
}
.border
{
margin-top:0em;
margin-bottom:0em;
border:1pt solid black;
width:70%;
}
.figure
{
	max-width:100%;
	max-height:100%;
	vertical-align:middle;
text-align:left;
margin-left:4em;
margin-bottom:1em;
margin-right:0em;
margin-top:1em;
width:70%;
}
ul.indexmain
{
list-style-type: none;

font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-left:-1em;
margin-right:0em;
}
   .term .term {
            margin-left: 1em;
        }
        a {
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
.equno {
float: right;
}
.list {
width:67%;
font-size: 100%;
text-align: justify;
text-indent: -1.1em;
margin-bottom: 0em;
margin-left: 1.5em;
margin-right: 0em;
margin-top: .2em;
}
.noindentr
{
width:70%;

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.line2
{
margin-top: .0em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
border-bottom:1px black solid;
border-top:1px black solid;
}
.line1
{
margin-top: .0em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
border-bottom:1px black solid;
border-top:0px black solid;
}

.list2 {
width:67%;
font-size: 100%;
text-align: justify;
text-indent: -1.5em;
margin-bottom: 0em;
margin-left: 1.5em;
margin-right: 0em;
margin-top: .2em;
}
.noindentt
{
width:70%;

font-size:100%;
text-align:justify;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.list1 {
width:67%;
font-size: 100%;
text-align: justify;
text-indent: -1.1em;
margin-bottom: 0em;
margin-left: 1.5em;
margin-right: 0em;
margin-top: .2em;
}
.tbl {
width:57%;
font-size: 100%;
text-align: justify;
text-indent: 0em;
margin-bottom: 0em;
margin-left: 2em;
margin-right: 0em;
margin-top: .2em;
}
.tbl1 {
width:37%;
font-size: 100%;
text-align: justify;
text-indent: 0em;
margin-bottom: 0em;
margin-left: 2em;
margin-right: 0em;
margin-top: .2em;
}

.page
{
display:block;
margin:2em 0;
text-align: left;
font-weight: bold;
}
.bib {
font-size: 100%;
text-align: justify;
text-indent: -1.4em;
margin-bottom: 0em;
margin-left: 1.5em;
margin-right: 0em;
margin-top: .2em;
}
.fig2
{

text-align:left;
margin-left:0em;
margin-bottom:1em;
margin-right:0em;
margin-top:0em;
width:70%;
}
.page {
    display: block;
    margin: 2em 0;
    text-align: right;
    font-weight: bold;
 /* display: none; */
width:100%;
}
.noindent3
{

font-size:100%;
text-align:left;
margin-top:-0.3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:30%;
}
.width70a
{
width: 70%;
margin-top: 1em;
margin-bottom: 1em;
border:1pt solid black;
}
.tabcap
{
width:72%;

font-size:100%;
margin-top:1.2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.tfoot
{
width:70%;

font-size:90%;
text-align:justify;
margin-top:0.2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
