body
{
	margin:1em;
	max-width:786px;
}
td
{
	text-overflow:ellipsis;
	vertical-align:top;
}
a
{
	text-decoration:none;
}
img
{
	max-width:100%;
	max-height:100%;
	vertical-align:middle;
	}
.pagenumber
{
font-weight:bold;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:right;
}
span.space
{
display:inline-block;
text-indent:0;
width:1em;
margin-left:0;
}
.main
{

font-size:170%;
text-align:left;
margin-top:1em;
margin-bottom:1em;
margin-left:1.5em;
margin-right:0em;
text-indent:-1.5em;
width:65%;
}
.h2
{

font-size:120%;
text-align:left;
margin-top:1em;
margin-bottom:0.5em;
margin-left:2.4em;
margin-right:0em;
text-indent:-2.4em;
width:65%;
}
.noindent
{
width:70%;

font-size:100%;
text-align:justify;
margin-top:0.2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.noindent1
{
width:70%;

font-size:100%;
text-align:justify;
margin-top:0.8em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.indent
{
width:70%;

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:2em;
}
.image
{
font-size:100%;
text-align:center;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.image1
{
font-size:100%;
text-align:left;
margin-top:1.6em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.caption
{

font-size:90%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
aside.abc {

   margin-left: 1em;
   margin-top: 0em;
   margin-bottom: 0em;
   width: 25%;
   float: right;
   font-size:90%;
}
.noindent2
{

font-size:100%;
text-align:left;
margin-top:0.2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:100%;
}
.indent2
{
width:100%;

font-size:90%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:2em;
}
ul
{
width:67%;

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0.2em;
margin-left:-1em;
margin-right:0em;
text-indent:0em;
}
figure
{
	max-width:100%;
	max-height:100%;
	vertical-align:middle;
	text-align:center;
margin-left:0em;
margin-bottom:0.4em;
margin-right:0em;
margin-top:0.4em;
width:70%;
}
.figcaption1
{

text-align:center;
margin-left:0em;
margin-bottom:1em;
margin-right:0em;
margin-top:0em;
width:78%;
}
figcaption
{

text-align:left;
margin-left:0em;
margin-bottom:1em;
margin-right:0em;
margin-top:0em;
}
.h3
{

font-size:110%;
text-align:left;
margin-top:0.7em;
margin-bottom:0.2em;
margin-left:2.8em;
margin-right:0em;
text-indent:-2.8em;
width:65%;
}
.indent1
{

width:70%;
font-size:100%;
text-align:justify;
margin-top:0.6em;
margin-bottom:0em;
margin-left:0.5em;
margin-right:0em;
text-indent:2em;
}
.center1
{

font-size:90%;
text-align:center;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.indenthang
{

font-size:100%;
margin-top:0.3em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:0em;
text-indent:-1em;
}
.indenthanga
{

font-size:100%;
margin-top:0.3em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:0em;
text-indent:-1.3em;
}


.noindent3-ka
{
width:68%;

font-size:100%;
text-align:justify;
margin-top:0.2em;
margin-bottom:0em;
margin-left:1em;
margin-right:0em;
text-indent:0em;
}
.indent3-ka
{

width:70%;
font-size:100%;
text-align:justify;
margin-top:0.4em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:1em;
}
.indent3-ka1
{

width:70%;
font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:1em;
}
.indent3-ka1t
{
width:70%;
font-size:100%;
text-align:justify;
margin-top:0.8em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:1em;
}
.tabled
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.tablea
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:6em;
margin-right:0em;
text-indent:0em;
}
table
{
border-collapse:collapse;
}
.tabcaption1
{

font-size:100%;
text-align:left;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.tabcaption
{

font-size:100%;
text-align:left;
margin-top:1em;
margin-bottom:1em;
margin-left:5em;
margin-right:0em;
text-indent:0em;
}
.tabcaptiona
{

font-size:100%;
text-align:left;
margin-top:1em;
margin-bottom:1em;
margin-left:2em;
margin-right:0em;
text-indent:0em;
}
.head
{

font-size:160%;
text-align:center;
margin-top:1em;
margin-bottom:0.2em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.center
{

font-size:100%;
text-align:center;
margin-top:1em;
margin-bottom:0.5em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:70%;
}
.pub
{
font-size:100%;
text-align:center;
margin-top:6em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.author
{

font-size:180%;
text-align:left;
margin-top:1em;
margin-bottom:0em;
margin-left:1em;
margin-right:0em;
text-indent:0em;
}
.author1
{

font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0.3em;
margin-left:1.7em;
margin-right:0em;
text-indent:0em;
}
.head1
{

font-size:200%;
text-align:left;
margin-top:0.5em;
margin-bottom:1em;
margin-left:1em;
margin-right:0em;
text-indent:0em;
}

.cont
{

font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0.5em;
margin-left:0.5em;
margin-right:0em;
text-indent:0em;
}
.cont1
{

font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0.5em;
margin-left:1.6em;
margin-right:0em;
text-indent:0em;
}.width100a
{
width: 100%;
margin-top: 1em;
margin-bottom: 1em;
border:1pt solid black;
}
.borderb
{
border-bottom:1pt solid black;
}


.h1
{

font-size:170%;
text-align:left;
margin-top:1em;
margin-bottom:1em;
margin-left:1.5em;
margin-right:0em;
text-indent:-1.5em;
}



.copy
{

font-size:90%;
text-align:center;
margin-top:0.4em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.copy1
{

font-size:90%;
text-align:center;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.copy2
{

font-size:90%;
text-align:center;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.attribute
{

font-size:100%;
text-align:right;
margin-top:0.3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.attribute1
{

font-size:100%;
text-align:right;
margin-top:0.3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.fmnoindent
{

font-size:100%;
text-align:justify;
margin-top:0.2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.fmindent
{

font-size:100%;
text-align:justify;
margin-top:0.2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:2em;
}
.width100
{
width: 100%;
margin-top: 1em;
margin-bottom: 1em;
}
.width100b
{
width: 100%;
margin-left: 4em;
}
.width70
{
width: 70%;
margin-top: 1em;
margin-bottom: 1em;
margin-left: 2em;
}



.noindent-sp
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:70%;
}

.indent-sp
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:2em;
width:70%;
}


.figure-bh
{
	max-width:100%;
	max-height:100%;

	text-align:left;
margin-left:0em;
margin-bottom:0.5em;
margin-right:0em;
margin-top:1em;
}
div.border
{
margin-top:0.7em;
margin-bottom:0.7em;
padding:1em;
border:1pt solid black;
background-color:#DFDFDF;
width:65%;
}
ul.indexmain
{
list-style-type: none;

font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-left:-1em;
margin-right:0em;
}
.indentblock
{
font-size:100%;
margin-top:0.2em;
margin-bottom:0em;
margin-left:1.2em;
margin-right:0em;
text-indent:-1.2em;
}
        .term
{
            margin-left: 0em;
        }
        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

.boxtitle
{

font-size:110%;
text-align:left;
margin-top:0em;
margin-bottom:0.2em;
margin-left:0.4em;
margin-right:0em;

}
.boxpara
{
font-size:100%;
text-align:justify;
margin-top:0.3em;
margin-bottom:0.3em;
margin-left:0.5em;
margin-right:0em;
text-indent:0em;

}
.boxparai
{
font-size:100%;
text-align:justify;
margin-top:0.3em;
margin-bottom:0.3em;
margin-left:0.5em;
margin-right:0em;
text-indent:1em;
}
.boxparaia
{
font-size:100%;
text-align:justify;
margin-top:0.3em;
margin-bottom:0.3em;
margin-left:4.5em;
margin-right:0em;
text-indent:-2.5em;
}
.boxparaib
{
font-size:100%;
text-align:justify;
margin-top:0.3em;
margin-bottom:0.3em;
margin-left:2.8em;
margin-right:0em;
}
.boxparaic
{
font-size:100%;
text-align:justify;
margin-top:0.3em;
margin-bottom:0.3em;
margin-left:5.5em;
margin-right:0em;
}
.boxparaii
{
font-size:100%;
text-align:justify;
margin-top:0.3em;
margin-bottom:0.3em;
margin-left:4em;
margin-right:0em;
}
.boxparai1
{
font-size:100%;
text-align:justify;
margin-top:0.3em;
margin-bottom:0.3em;
margin-left:6em;
margin-right:0em;
}
.width100ba
{
margin:0em;
width: 100%;

}
.equno {
float: right;
}
.width20
{
width: 20%;
}
.widthb40
{
width: 40%;
border-bottom: solid 0.1em black;
}
.widthb20
{
width: 20%;
border-bottom: solid 0.1em black;
}
.width15
{
width: 15%;
}
.tabled1
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0.5em;
margin-right:0em;
text-indent:0em;
}
.width70tb
{
width: 70%;
margin-top: 1em;
margin-bottom: 1em;
margin-left: 2em;
border-bottom: solid 0.1em black;
border-top: solid 0.1em black;
}
.widthb50
{
width: 50%;
border-bottom: solid 0.1em black;
}
.indent3a
{
width:70%;

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:11em;
margin-right:0em;
}
.indent2
{

width:70%;
font-size:100%;
text-align:justify;
margin-top:0.6em;
margin-bottom:0em;
margin-left:4em;
margin-right:0em;
}
.indenthangingi
{

font-size:100%;
margin-top:0.8em;
margin-bottom:0em;
margin-left:1em;
margin-right:0em;
text-indent:-0.8em;
width:70%;
}
.indenthangingii
{

font-size:100%;
margin-top:0.3em;
margin-bottom:0em;
margin-left:1em;
margin-right:0em;
text-indent:-1em;
width:70%;
}
.indenthangingiii
{

font-size:100%;
margin-top:0.3em;
margin-bottom:0em;
margin-left:1em;
margin-right:0em;
text-indent:-1.2em;
width:70%;
}
.width60b
{
width: 60%;
margin-top: 1em;
margin-bottom: 1em;
margin-left: 2em;
border-bottom: solid 0.1em black;
border-top: solid 0.1em black;
}
.tfoot
{

font-size:90%;
text-align:left;
margin-top:0.2em;
margin-bottom:0.2em;
margin-left:2em;
margin-right:0em;
text-indent:0em;
width:70%;
}
.width30
{
width: 30%;
}
.width35
{
width: 35%;
}
.width15
{
width: 15%;
}
.width10
{
width: 10%;
}
.indenthangi
{

font-size:100%;
margin-top:0.3em;
margin-bottom:0em;
margin-left:1.2em;
margin-right:0em;
text-indent:-1.2em;
width:68%;
}
.indenthangii
{

font-size:100%;
margin-top:0.3em;
margin-bottom:0em;
margin-left:1.2em;
margin-right:0em;
text-indent:-1.2em;
width:68%;
}
.indenthangiii
{

font-size:100%;
margin-top:0.3em;
margin-bottom:0em;
margin-left:1.2em;
margin-right:0em;
text-indent:-1.3em;
width:70%;
}
.indenthangiiip
{

font-size:100%;
margin-top:0.3em;
margin-bottom:0em;
margin-left:1.2em;
margin-right:0em;
width:70%;
}
.indenthangiv
{

font-size:100%;
margin-top:0.3em;
margin-bottom:0em;
margin-left:1.2em;
margin-right:0em;
text-indent:-1.5em;
width:70%;
}
.indenthangivp
{

font-size:100%;
margin-top:0.3em;
margin-bottom:0em;
margin-left:1.2em;
margin-right:0em;
width:70%;
}
.indentbullet
{

font-size:100%;
margin-top:0.3em;
margin-bottom:0em;
margin-left:0.7em;
margin-right:0em;
text-indent:-0.7em;
width:70%
}
.indentbulletp
{

font-size:100%;
margin-top:0.3em;
margin-bottom:0em;
margin-left:1.6em;
margin-right:0em;
width:70%
}
td
{
vertical-align:top;
}
.term .term {
            margin-left: 1em;
        }

        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
.centera
{

font-size:100%;
margin-top:1em;
margin-bottom:0.5em;
margin-left:8em;
margin-right:0em;
text-indent:0em;
width:70%;
}
.width100bc
{
width: 100%;
margin-left: 4em;
border-bottom: solid 0.1em black;
border-top: solid 0.1em black;
}
.centerb
{

font-size:100%;
margin-top:0.3em;
margin-bottom:0.5em;
margin-left:8.8em;
margin-right:0em;
text-indent:0em;
width:70%;
}

span.no
{
display:inline-block;
text-indent:0;
margin-left:12.8em;
}


.page {
    display: block;
    margin: 2em 0;
    text-align: right;
    font-weight: bold;
 /* display: none; */
width:100%;
}