body
{
	margin:1em;
	max-width:786px;
}
td
{
	text-overflow:ellipsis;
	vertical-align:top;
}
a
{
	text-decoration:none;
	
}
img
{
	max-width:100%;
	max-height:100%;
	vertical-align:middle;
	}
.pagenumber
{
font-weight:bold;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:right;
}
span.space
{
display:inline-block;
text-indent:0;
width:1em;
margin-left:0;
}
.main
{

font-size:150%;
text-align:left;
margin-top:1em;
margin-bottom:1em;
margin-left:1.5em;
margin-right:0em;
text-indent:-1.5em;
}
.h2
{

font-size:130%;
text-align:left;
margin-top:1.0em;
margin-bottom:0.5em;
margin-left:1.8em;
margin-right:0em;
text-indent:-1.8em;
width:65%;
}
.noindent
{
width:70%;

font-size:100%;
text-align:justify;
margin-top:0.2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.noindentt
{
width:70%;

font-size:100%;
text-align:justify;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.image
{
font-size:100%;
text-align:center;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.caption
{

font-size:90%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
aside.abc {

   margin-left: 1em;
   margin-top: 0em;
   margin-bottom: 0em;
   width: 25%;
   float: right;
   font-size:90%;
}
.noindent2
{

font-size:100%;
text-align:left;
margin-top:-0.3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:90%;
}
ul
{
width:67%;

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0.2em;
margin-left:-1em;
margin-right:0em;
text-indent:0em;
}
figure
{
	max-width:100%;
	max-height:100%;
	vertical-align:middle;
	text-align:center;
margin-left:0em;
margin-bottom:1em;
margin-right:0em;
margin-top:1em;
}
figcaption
{

text-align:left;
margin-left:0em;
margin-bottom:1em;
margin-right:0em;
margin-top:0em;
}
.h3
{

font-size:105%;
text-align:left;
margin-top:1em;
margin-bottom:0.2em;
margin-left:0em;
margin-right:0em;
width:65%;
}
.h4
{

font-size:105%;
text-align:left;
margin-top:1em;
margin-bottom:0.2em;
margin-left:2.8em;
margin-right:0em;
text-indent:-2.8em;
width:65%;
}
.indent3-ka1
{

width:70%;
font-size:100%;
text-align:justify;
margin-top:0.1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:1em;
}
.indent3-ka1t
{
width:70%;
font-size:100%;
text-align:justify;
margin-top:0.8em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:1em;
}
.pub
{
font-size:100%;
text-align:left;
margin-top:6em;
margin-bottom:1em;
margin-left:13em;
margin-right:0em;
text-indent:0em;
}
.author
{

font-size:180%;
text-align:left;
margin-top:0.2em;
margin-bottom:0em;
margin-left:1em;
margin-right:0em;
text-indent:0em;
}
.authora
{

font-size:180%;
text-align:left;
margin-top:0.4em;
margin-bottom:0em;
margin-left:1em;
margin-right:0em;
text-indent:0em;
}
.author1
{

font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0.3em;
margin-left:1.7em;
margin-right:0em;
text-indent:0em;
}
.head1
{

font-size:200%;
text-align:left;
margin-top:0.5em;
margin-bottom:1em;
margin-left:1em;
margin-right:0em;
text-indent:0em;
}

.cont
{

font-size:100%;
text-align:left;
margin-top:1em;
margin-bottom:0.5em;
margin-left:0.5em;
margin-right:0em;
text-indent:0em;
}
.width100a
{
width: 100%;
margin: auto;
border:1pt solid black;
}

.copy
{

font-size:90%;
text-align:center;
margin-top:0.4em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.copy1
{

font-size:90%;
text-align:center;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.copy2
{

font-size:90%;
text-align:center;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.attribute
{

font-size:100%;
text-align:right;
margin-top:0.3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.attribute1
{

font-size:100%;
text-align:right;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.fmnoindent
{

font-size:100%;
text-align:justify;
margin-top:0.2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.fmindent
{

font-size:100%;
text-align:justify;
margin-top:0.2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:2em;
}
.figure-bh
{
	max-width:100%;
	max-height:100%;

	text-align:left;
margin-left:0em;
margin-bottom:0.5em;
margin-right:0em;
margin-top:1em;
}
.border
{
margin-top:0em;
margin-bottom:0em;
border:1pt solid black;
}
ul.indexmain
{
list-style-type: none;

font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-left:-1em;
margin-right:0em;
}
.head
{

font-size:160%;
text-align:center;
margin-top:1em;
margin-bottom:0.2em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.center
{

font-size:100%;
text-align:center;
margin-top:1em;
margin-bottom:0.5em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:70%;
}
.indenthang
{

font-size:100%;
margin-top:0.3em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:0em;
text-indent:-1em;
}
.indenthanga
{

font-size:100%;
margin-top:0.3em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:0em;
text-indent:-1.3em;
}
.width70
{
width: 70%;
margin-top: 1em;
margin-bottom: 1em;
border: 1em solid black;
}
.width70b
{
width: 70%;
margin-top: 1em;
margin-bottom: 1em;
}
.width70ba
{
width: 70%;
margin-top: 1em;
margin-bottom: 1em;
margin-left: 2em;
}
.width70bb
{
width: 70%;
margin-top: 1em;
margin-bottom: 1em;
margin-left: 0em;
}
.width70bc
{
width: 70%;
margin-top: 1em;
margin-bottom: 1em;
margin-left: 1em;
}
.width50bc
{
width: 50%;
margin-top: 1em;
margin-bottom: 1em;
margin-left: 1em;
}
.page {
    display: block;
    margin: 2em 0;
    text-align: right;
    font-weight: bold;
 /* display: none; */
width:100%;
}
.tabled
{
width:70%;

font-size:100%;
margin-top:0.2em;
margin-bottom:0em;
margin-left:0.5em;
margin-right:0em;
text-indent:0em;
}
.width30
{
width: 30%;
}
.width35
{
width: 35%;
}
.width50
{
width: 50%;
}
.width100ba
{
margin:0em;
width: 100%;

}
.centera
{

font-size:100%;
text-align:center;
margin-top:1em;
margin-bottom:0.5em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:100%;
}
.centerb
{

font-size:100%;
text-align:center;
margin-top:1em;
margin-bottom:0.5em;
margin-left:2.5em;
margin-right:0em;
text-indent:0em;
width:70%;
}
.width100
{
width: 100%;
margin-top: 1em;
margin-bottom: 1em;
}
.tabler
{
width:100%;

font-size:100%;
text-align:right;
margin-top:0.2em;
margin-bottom:0em;
margin-left:0.3em;
margin-right:0em;
text-indent:0em;
}
.block
{
verticle-align:middle;
}
.term .term{
            margin-left: 1em;
        }

        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
.eqn
{
font-size:100%;
text-align:center;
margin-top:0.5em;
margin-bottom:0.5em;
margin-left:2em;
margin-right:0em;
text-indent:0em;
width:66%;
}
.eqn2
{
font-size:100%;
text-align:left;
margin-top:0.5em;
margin-bottom:0.5em;
margin-left:2em;
margin-right:0em;
text-indent:0em;
width:66%;
}
.eqn3
{
font-size:100%;
text-align:left;
margin-top:0.5em;
margin-bottom:0.5em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:66%;
}
.eqn1
{
font-size:100%;
text-align:center;
margin-top:0.5em;
margin-bottom:0.5em;
margin-left:2.8em;
margin-right:0em;
text-indent:0em;
width:66%;
}
span.no
{
display:inline-block;
text-indent:0;
float: right;
text-align:right;
}
.tabcap
{
width:90%;

font-size:100%;
margin-top:1.2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.tfoot
{
width:70%;

font-size:90%;
text-align:justify;
margin-top:0.2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.indenthanging
{
width:67%;
font-size:100%;
margin-top:1em;
margin-bottom:0em;
margin-left:1em;
margin-right:0em;
text-indent:-1em;
}
.width40
{
width: 40%;
}
.width20
{
width: 20%;
}
.width25
{
width: 25%;
}
.indentbullet
{
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:1.9em;
text-indent:-1.9em;
width:66%;
text-align:justify;
}
.indentbulleta
{
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:1.1em;
text-indent:-1.1em;
width:68%;
text-align:justify;
}
.indentbullett
{
font-size:100%;
margin-top:1em;
margin-bottom:0em;
margin-left:1.2em;
text-indent:-1.26em;
width:68%;
text-align:justify;
}
.indenthangingai
{
width:62%;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:4.4em;
margin-right:0em;
text-indent:-4.4em;
text-align:justify;
}
.indenthangingaip
{
width:62%;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:4.4em;
margin-right:0em;
text-align:justify;
}
.indenthangingaipi
{
width:62%;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:4.4em;
margin-right:0em;
text-indent:1em;
text-align:justify;
}
.indenthangingai2
{
width:62%;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:4.3em;
margin-right:0em;
text-indent:-2.3em;
text-align:justify;
}
.indenthangingai21
{
width:62%;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:4.3em;
margin-right:0em;
text-indent:-2.5em;
text-align:justify;
}
.indenthanginga
{
width:65%;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:2.5em;
margin-right:0em;
text-indent:-2.5em;
text-align:justify;
}
.indenthangingap
{
width:65%;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:2.5em;
margin-right:0em;
text-align:justify;
}
.indenthangingai3
{
width:63%;
font-size:100%;
margin-top:1em;
margin-bottom:0em;
margin-left:4.3em;
margin-right:0em;
text-indent:-4.3em;
text-align:justify;
}
.indenthangingai4
{
width:65%;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:4.1em;
margin-right:0em;
text-indent:-2em;
text-align:justify;
}
.indenthangingai5
{
width:63%;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:3.3em;
margin-right:0em;
text-indent:-1.8em;
text-align:justify;
}
.indenthangingai7
{
width:67%;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:3.3em;
margin-right:0em;
text-indent:-3.5em;
text-align:justify;
}
.indenthangingai6p
{
width:63%;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:3.3em;
margin-right:0em;
text-align:justify;
}
.indenthangingi
{
width:62%;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:4.7em;
margin-right:0em;
text-indent:-2em;
text-align:justify;
}
.indenthangingii
{
width:62%;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:4.8em;
margin-right:0em;
text-indent:-2.2em;
text-align:justify;
}
.indenthangingiv
{
width:62%;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:4.7em;
margin-right:0em;
text-indent:-2.6em;
text-align:justify;
}
.indenthangingiia
{
width:62%;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:4.6em;
margin-right:0em;
text-indent:-2.3em;
text-align:justify;
}
.indenthangingiip
{
width:62%;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:3.4em;
margin-right:0em;
text-align:justify;
}
.indenthangingiii
{
width:62%;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:4.9em;
margin-right:0em;
text-indent:-2.5em;
text-align:justify;
}
.indenthangingiiip
{
width:62%;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:3.7em;
margin-right:0em;
text-align:justify;
}
.indenthangingiiip1
{
width:62%;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:4em;
margin-right:0em;
text-align:justify;
}
.width70tb
{
width: 70%;
margin-top: 1em;
margin-bottom: 1em;
border-top: 1pt solid black;
border-bottom: 1pt solid black;
}
.tablec
{
width:95%;

font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:0.3em;
margin-right:0.6em;
text-indent:0em;
}
.tablecd
{
width:95%;

font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0.6em;
text-indent:0em;
}
.borbw35
{
width: 35%;
border-bottom: 1pt solid black;
}
.borbw30
{
width: 30%;
border-bottom: 1pt solid black;
}
.borbw40
{
width: 40%;
border-bottom: 1pt solid black;
}
.indenthangingai6
{
width:63%;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:4em;
margin-right:0em;
text-indent:-3.8em;
text-align:justify;
}
.indenthangingii2
{
width:62%;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:3.5em;
margin-right:0em;
text-indent:-1.8em;
text-align:justify;
}
.width50a
{
width: 50%;
margin-top: 1em;
margin-bottom: 1em;
margin-left: 2em;
}
.indenthanging1
{
width:65%;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:2.5em;
margin-right:0em;
text-indent:-2.5em;
text-align:justify;
}
.indenthangingapi
{
width:65%;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:2.5em;
margin-right:0em;
text-indent:1em;
text-align:justify;
}
.indentbullet1
{
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:4.2em;
text-indent:-1.8em;
width:62%;
text-align:justify;
}
.indentbullet1p
{
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:4.2em;
width:62%;
text-align:justify;
}















.indenthangingaia
{
width:62%;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:4.2em;
margin-right:0em;
text-indent:-2.6em;
text-align:justify;
}
.indenthangingaib
{
width:62%;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:4.7em;
margin-right:0em;
text-indent:-4.4em;
text-align:justify;
}
.indenthangingai2a
{
width:62%;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:4.6em;
margin-right:0em;
text-indent:-2.3em;
text-align:justify;
}
.indenthangingia
{
width:62%;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:4.5em;
margin-right:0em;
text-indent:-2em;
text-align:justify;
}
.indenthangingai2p
{
width:62%;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:4.3em;
margin-right:0em;
text-align:justify;
}
.indentstep
{
width:57%;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:6.5em;
margin-right:0em;
text-indent:-4.2em;
text-align:justify;
}
.blockquote
{
width:65%;

font-size:100%;
text-align:justify;
margin-top:0.2em;
margin-bottom:0em;
margin-left:2em;
margin-right:0em;
text-indent:0em;
}
.indenthangingb
{
width:60%;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:4.5em;
margin-right:0em;
text-indent:-2.5em;
text-align:justify;
}
.indenthangingi3
{
width:62%;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:4.3em;
margin-right:0em;
text-indent:-2em;
text-align:justify;
}
.indenthangingi4
{
width:62%;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:4.6em;
margin-right:0em;
text-indent:-2.3em;
text-align:justify;
}
.indenthangingai2b
{
width:56%;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:6.8em;
margin-right:0em;
text-indent:-4.5em;
text-align:justify;
}
.indenthangingai2ba
{
width:56%;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:7em;
margin-right:0em;
text-indent:-2.7em;
text-align:justify;
}
.indenthangingai2bap
{
width:60%;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:6.8em;
margin-right:0em;
text-align:justify;
}
.indenthangingiib
{
width:62%;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:4.5em;
margin-right:0em;
text-indent:-2.2em;
text-align:justify;
}
