body
{
	margin:1em;
	max-width:786px;
}
td
{
	text-overflow:ellipsis;
	vertical-align:top;
}
a
{
	text-decoration:none;
}
img
{
	max-width:100%;
	max-height:100%;
	vertical-align:middle;
}
.pagenumber
{
font-weight:bold;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:right;
}
.main
{

font-size:170%;
text-align:left;
margin-top:1em;
margin-bottom:1em;
margin-left:0.9em;
margin-right:0em;
text-indent:-0.9em;
}
.head
{

font-size:160%;
text-align:center;
margin-top:1em;
margin-bottom:0.2em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.head1
{

font-size:200%;
text-align:left;
margin-top:0.5em;
margin-bottom:1em;
margin-left:1em;
margin-right:0em;
text-indent:0em;
}
.author
{

font-size:180%;
text-align:left;
margin-top:1em;
margin-bottom:0em;
margin-left:1em;
margin-right:0em;
text-indent:0em;
}
.author1
{

font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0.3em;
margin-left:1.7em;
margin-right:0em;
text-indent:0em;
}
div.border
{
border: solid black 0.1em;
padding: 1em;
}
.pub
{
font-size:100%;
text-align:center;
margin-top:6em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.copy
{

font-size:100%;
text-align:center;
margin-top:0.4em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.copy1
{

font-size:90%;
text-align:center;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.copy2
{

font-size:90%;
text-align:center;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.attribute
{

font-size:100%;
text-align:right;
margin-top:0.3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.attribute1
{

font-size:100%;
text-align:right;
margin-top:0.3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.width100
{
width: 100%;
margin-top: 1em;
margin-bottom: 1em;
}
.width100a
{
width: 100%;
margin-top: 1em;
margin-bottom: 1em;
border:1pt solid black;
}
.borderb
{
border-bottom:1pt solid black;
}
.width100b
{
width: 100%;
border-top:1pt solid black;
border-bottom:1pt solid black;
}
.bawidth100b
{
width: 66%;
border-top:1pt solid black;
border-bottom:1pt solid black;
}
.width100ba
{
margin:0em;
width: 100%;

}
.width50
{
width: 50%;
}
.width25
{
width: 25%;
}
.borderbw25
{
width: 25%;
border-bottom:1pt solid black;
}
.borderbw30
{
width: 30%;
border-bottom:1pt solid black;
}
.borderbw35
{
width: 35%;
border-bottom:1pt solid black;
}
.tabled
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.tablea
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.tabler
{

font-size:100%;
text-align:right;
margin-top:0.3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}

.cont
{

font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0.5em;
margin-left:0.5em;
margin-right:0em;
text-indent:0em;
}
.cont1
{

font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0.5em;
margin-left:1.6em;
margin-right:0em;
text-indent:0em;
}
.h2
{

font-size:120%;
text-align:left;
margin-top:1em;
margin-bottom:1em;
margin-left:1.8em;
margin-right:0em;
text-indent:-1.8em;
}
.bah2
{
width:65%;

font-size:120%;
text-align:left;
margin-top:1em;
margin-bottom:1em;
margin-left:1.8em;
margin-right:0em;
text-indent:-1.8em;
}
.h2a
{

font-size:120%;
text-align:left;
margin-top:1em;
margin-bottom:1em;
margin-left:2.4em;
margin-right:0em;
text-indent:-2.4em;
}
.h3
{

font-size:110%;
text-align:left;
margin-top:0.8em;
margin-bottom:0.5em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}

.noindent
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.noindentt
{

font-size:100%;
text-align:justify;
margin-top:0.6em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.banoindentt
{

font-size:100%;
text-align:justify;
margin-top:0.6em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:70%
}
.indent
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:2em;
}
.image
{
font-size:100%;
text-align:center;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.caption
{

font-size:90%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.box
{

font-size:100%;
text-align:justify;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
border-top:1pt solid black;
border-bottom:1pt solid black;
border-right:1pt solid black;
border-left:1pt solid black;
padding-top:0.3em;
padding-right:0.3em;
padding-left:0.3em;
padding-bottom:0em;
}
aside.ab {
text-align:justify;

   padding: 0em;
   margin-right: 0em;
   margin-left: 0em;
   margin-top: 0em;
   margin-bottom: 0em;
   width: 25%;
   float: left;
}
aside.abc {

   margin-left: 1em;
   margin-top: 0em;
   margin-bottom: 0em;
   width: 30%;
   float: right;
}
.note
{

padding-top:0.5em;
font-size:100%;
text-align:justify;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
background-color: #C1C1C1;
}
.note1
{

padding-top:0.5em;
padding-bottom:0.5em;
padding-right:0em;
padding-left:0em;
font-size:90%;
text-align:left;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
background-color: #C1C1C1;
}
.noindent1
{

width:71%;
font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.noindent2
{

font-size:90%;
text-align:justify;
margin-top:-0.3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:90%;
}
.indent2
{
width:90%;

font-size:90%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:2em;
}
.indent1
{

width:70%;
font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0.3em;
margin-left:0.5em;
margin-right:0em;
text-indent:2em;
}
.center
{

font-size:100%;
text-align:center;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.bacenterba
{

font-size:80%;
text-align:center;
margin-top:1em;
margin-bottom:0em;
margin-left:-25em;
margin-right:0em;
text-indent:0em;
}
.center1
{

font-size:90%;
text-align:center;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.indenthang
{

font-size:100%;
margin-top:0.3em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:0em;
text-indent:-1em;
}
.baindenthang
{
width:68%;

font-size:100%;
margin-top:0.3em;
margin-bottom:0em;
margin-left:1em;
margin-right:0em;
text-indent:-1em;
}
.indenthanga
{

font-size:100%;
margin-top:0.3em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:0em;
text-indent:-1.3em;
}

figure
{
	max-width:100%;
	max-height:100%;
	vertical-align:middle;
	text-align:left;
margin-left:3em;
margin-bottom:1em;
margin-right:0em;
margin-top:1em;
}
figure.fig1
{
	max-width:100%;
	max-height:100%;
	text-align:center;
margin-left:0em;
margin-bottom:1em;
margin-right:0em;
margin-top:1em;
}
.bacenter
{
	max-width:100%;
	max-height:100%;
	vertical-align:middle;
	text-align:center;
margin-left:0em;
margin-bottom:1em;
margin-right:0em;
margin-top:1em;
}

.fig1
{
	max-width:100%;
	max-height:100%;
	vertical-align:middle;
	text-align:center;
margin-left:0em;
margin-bottom:0em;
margin-right:0em;
margin-top:0em;
}
.tabcaption
{

font-size:100%;
text-align:center;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.baindenthanging
{
width:75%;

font-size:100%;
text-align:center;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.indenthanging
{

font-size:100%;
text-align:center;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.indenthanging1
{

font-size:100%;
text-align:left;
margin-top:1em;
margin-bottom:0em;
margin-left:1em;
margin-right:0em;
text-indent:-1em;
}
.baindenthanging1
{

font-size:100%;
text-align:left;
margin-top:1em;
margin-bottom:0em;
margin-left:1em;
margin-right:0em;
text-indent:-1em;
width:70%
}
.hang
{

font-size:100%;
text-align:left;
margin-top:0.3em;
margin-bottom:0em;
margin-left:1.4em;
margin-right:0em;
text-indent:-1.4em;
}
.noindentba
{

font-size:100%;
text-align:justify;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
        .term .term {
            margin-left: 1em;
        }
        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }



aside.laab {
text-align:justify;

   padding: 0em;
   margin-right: 0em;
   margin-left: 0em;
   margin-top: 1em;
   margin-bottom: 0em;
   width: 25%;
   float: left;
}
.noindentt-1
{

font-size:100%;
text-align:justify;
margin-top:0.6em;
margin-bottom:0em;
margin-left:19.6em;
margin-right:0em;
text-indent:-4.3em;
}

.noindentt-2
{

font-size:100%;
text-align:justify;
margin-top:0.6em;
margin-bottom:0em;
margin-left:8em;
margin-right:0em;
text-indent:-1em;
}
.indentt
{

font-size:100%;
text-align:justify;
margin-top:0.6em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:1em;
}
.baindentt
{
width:68%;

font-size:100%;
text-align:justify;
margin-top:0.6em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:1em;
}
.tabcaption1
{

font-size:100%;
text-align:left;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.noindentt-3
{

font-size:100%;
text-align:justify;
margin-top:0.6em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:0em;
text-indent:-1.5em;
}
.banoindent
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:70%
}
.banoindent1
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:70%
float:left;
}
.baindent
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:2em;
width:70%
}
table
{
border-collapse:collapse;
}
.noindentt-2-v
{

font-size:100%;
text-align:justify;
margin-top:0.6em;
margin-bottom:0em;
margin-left:1em;
margin-right:0em;
text-indent:-1em;
}

.noindent-s
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:1em;
margin-right:0em;
text-indent:0em;
}


.indent-s
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0.5em;
margin-left:0em;
margin-right:0em;
text-indent:2em;
}
.banoindent-v
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0.7em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:70%
}

.banoindent-t
{

font-size:100%;
text-align:justify;
margin-top:0.9em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:70%
}


.baindent-bt
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0.6em;
margin-left:0em;
margin-right:0em;
text-indent:2em;
width:70%
}

.page {
    display: block;
    margin: 2em 0;
    text-align: right;
    font-weight: bold;
 /* display: none; */
width:100%;
}