body
{
	margin:1em;
	max-width:768px;
}
td
{
	text-overflow:ellipsis;
	vertical-align:top;
}
a
{
	text-decoration:none;
}
img
{
	max-width:100%;
	max-height:100%;
	vertical-align:middle;
}
.page
{
display:block;
margin:2em 0;
text-align:right;
font-weight:bold;
}

.pagenumber
{
font-weight:bold;
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:right;
}
.fmhead
{

font-size:160%;
text-align:center;
margin-top:1em;
margin-bottom:0.2em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.fmhead1
{

font-size:200%;
text-align:left;
margin-top:0.5em;
margin-bottom:1em;
margin-left:1em;
margin-right:0em;
text-indent:0em;
}
.fmauthor
{

font-size:180%;
text-align:left;
margin-top:1em;
margin-bottom:0em;
margin-left:1em;
margin-right:0em;
text-indent:0em;
}
.fmauthor1
{

font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0.3em;
margin-left:1.7em;
margin-right:0em;
text-indent:0em;
}
.fmpub
{
font-size:100%;
text-align:center;
margin-top:6em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.copy
{

font-size:90%;
text-align:center;
margin-top:0.4em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.copy1
{

font-size:90%;
text-align:center;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.fmattribute
{

font-size:100%;
text-align:right;
margin-top:0.3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.fmattribute1
{

font-size:100%;
text-align:right;
margin-top:0.3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.fmcenter
{

text-align:center;
margin-left:0em;
margin-bottom:0em;
margin-right:0em;
margin-top:1em;
}
.width100
{
width: 100%;
margin-top: 1em;
margin-bottom: 1em;
}
.width100a
{
width: 100%;
margin: auto;
border:1pt solid black;
}
.fmcont
{

font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:1em;
margin-left:1.5em;
margin-right:0em;
text-indent:-1.5em;
}
.fmcont1
{

font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:1em;
margin-left:1.5em;
margin-right:0em;
text-indent:0em;
}
span.no
{
display:inline-block;
text-indent:0;
float: right;
text-align:right;
margin-right:-14.5em;
}
span.no1
{
display:inline-block;
text-indent:0;
float: right;
text-align:right;
margin-right:-24.3em;
}
span.space
{
display:inline-block;
text-indent:0;
width:1em;
margin-left:0;
}
.fmmain
{

font-size:170%;
text-align:left;
margin-top:1em;
margin-bottom:1em;
margin-left:1.5em;
margin-right:0em;
text-indent:-1.5em;
}
.fmnoindent
{

font-size:100%;
text-align:justify;
margin-top:0.2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.fmindent
{

font-size:100%;
text-align:justify;
margin-top:0.2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:2em;
}
aside.bmabc {

   margin-left: 1em;
   margin-top: 0em;
   margin-bottom: 0em;
   width: 25%;
   float: right;
}
.bmnoindent2
{

font-size:100%;
text-align:left;
margin-top:-0.3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:90%;
}
ul.indexmain
{
list-style-type: none;

font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-left:-1em;
margin-right:0em;
}
li.indexmain1
{
list-style-type: none;

font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-left:-1.3em;
margin-right:0em;
}
li.indexsub
{

font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-left:-0.5em;
margin-right:0em;
text-indent:0em;
}
.fmindenthang
{

font-size:100%;
margin-top:0.3em;
margin-bottom:0em;
margin-left:2em;
margin-right:0em;
text-indent:-2em;
}
.fmborderb
{
border-bottom:1pt solid black;
}
.bmnoindent
{

font-size:100%;
text-align:justify;
margin-top:0.2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:70%;
}
.bmindent
{
width:70%;
font-size:100%;
text-align:justify;
margin-top:0.2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:2em;
}
.fig2
{
max-width:100%;
max-height:100%;
vertical-align:middle;
text-align:center;
margin-left:0em;
margin-bottom:1em;
margin-right:0em;
margin-top:1em;
width:70%;
}
.fig1
{
max-width:100%;
max-height:100%;
vertical-align:middle;
text-align:center;
margin-left:1em;
margin-bottom:1em;
margin-right:0em;
margin-top:1em;
}
.fig1a
{
max-width:100%;
max-height:100%;
vertical-align:middle;
text-align:left;
margin-left:3em;
margin-bottom:1em;
margin-right:0em;
margin-top:2em;
}
.fcaption
{

font-size:90%;
text-align:center;
margin-top:0em;
margin-bottom:0em;
margin-left:8em;
margin-right:0em;
text-indent:0em;
}
.fcaption1
{

font-size:90%;
text-align:center;
margin-top:0em;
margin-bottom:0.3em;
margin-left:1em;
margin-right:0em;
text-indent:0em;
}
.fcaption2
{

font-size:90%;
text-align:left;
margin-top:0em;
margin-bottom:0.3em;
margin-left:1em;
margin-right:0em;
text-indent:0em;
}
.babacenter
{

font-size:100%;
text-align:center;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:70%;
}


.main
{

font-size:170%;
text-align:left;
margin-top:1em;
margin-bottom:1em;
margin-left:1.5em;
margin-right:0em;
text-indent:-1.5em;
width:70%;
}
span.bi
{

}
span.bold
{

}
span.italic
{

}
.h2
{

font-size:120%;
text-align:left;
margin-top:1em;
margin-bottom:0.5em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:65%;
}
.h2a
{

font-size:120%;
text-align:left;
margin-top:1em;
margin-bottom:0.5em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.noindent
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:70%;
}
.noindentf
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0.4em;
margin-left:2.5em;
margin-right:0em;
text-indent:-2.5em;
width:70%;
}
.noindent1
{

font-size:100%;
text-align:justify;
margin-top:0.6em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:70%;
}
.indent
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:1.4em;
width:70%;
}
.image
{
font-size:100%;
text-align:center;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.caption
{

font-size:90%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
aside.abc {

   margin-left: 0em;
   margin-top: 0em;
   margin-bottom: 0em;
   width: 25%;
   float: right;
}
.noindent2
{

font-size:90%;
text-align:left;
margin-top:-0.3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:90%;
}
.indent2
{
width:100%;

font-size:90%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:2em;
}
.blockquote
{

font-size:100%;
text-align:justify;
margin-top:0.2em;
margin-bottom:0em;
margin-left:2em;
margin-right:0em;
text-indent:0em;
width:66%;
}
ul
{
width:67%;

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0.2em;
margin-left:-1.4em;
margin-right:0em;
text-indent:0em;
}
figure
{
	max-width:100%;
	max-height:100%;
	vertical-align:middle;
	text-align:center;
margin-left:0em;
margin-bottom:1em;
margin-right:0em;
margin-top:1em;
}

figcaption
{

text-align:center;
margin-left:0em;
margin-bottom:1em;
margin-right:0em;
margin-top:0em;
width:100%;
font-size:90%;
}
.h3
{

font-size:110%;
text-align:left;
margin-top:1em;
margin-bottom:0.5em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:70%;
}
.indent1
{

width:70%;
font-size:100%;
text-align:justify;
margin-top:0.6em;
margin-bottom:0em;
margin-left:0.5em;
margin-right:0em;
text-indent:2em;
}
.center
{

font-size:100%;
text-align:center;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.bacenterba
{

font-size:80%;
text-align:center;
margin-top:1em;
margin-bottom:0em;
margin-left:-25em;
margin-right:0em;
text-indent:0em;
}
.center1
{

font-size:90%;
text-align:center;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.indenthang
{

font-size:100%;
margin-top:0.3em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:0em;
text-indent:-1em;
}
.baindenthang
{
width:68%;

font-size:100%;
margin-top:0.3em;
margin-bottom:0em;
margin-left:1em;
margin-right:0em;
text-indent:-1em;
}
.indenthanga
{

font-size:100%;
margin-top:0.3em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:0em;
text-indent:-1.3em;
}

.noindent-sp
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:70%;
}

.indent-sp
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:2em;
width:70%;
}
.noindent-ft
{

font-size:80%;
text-align:justify;
margin-top:0em;
margin-bottom:2em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:70%;
}

.noindent2-bh
{

font-size:90%;
text-align:left;
margin-top:-0.3em;
margin-bottom:0.3em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:90%;
}
.figure-bh
{
	max-width:100%;
	max-height:100%;

	text-align:left;
margin-left:0em;
margin-bottom:0.5em;
margin-right:0em;
margin-top:1em;
}

.noindent2-hang-bh
{

font-size:90%;
text-align:left;
margin-top: 0.3em;
margin-bottom:0em;
margin-left:3.9em;
margin-right:0em;
text-indent:-3.9em;
width:80%;
}
.noindent2-cen
{

font-size:90%;
text-align:center;
margin-top:-0.3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:90%;
}
.noindent2-sd
{

font-size:90%;
text-align:left;
margin-top:0em;
margin-bottom:0.2em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:90%;
}
.noindent2-hang-bh1
{

font-size:90%;
text-align:left;
margin-top: 0.3em;
margin-bottom:0em;
margin-left:4.2em;
margin-right:0em;
text-indent:-4.2em;
width:80%;
}
.noindent2-bt
{

font-size:90%;
text-align:left;
margin-top:0em;
margin-bottom:0.8em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:90%;
}


.noindent3-bh
{

font-size:90%;
text-align:left;
margin-top:0em;
margin-bottom:0.8em;
margin-left:3em;
margin-right:0em;
text-indent:0em;
width:90%;
}
table.tab5
{
margin-bottom:0.8em;
margin-left:0.4em;
}
.noindent3-ka
{
width:68%;

font-size:100%;
text-align:justify;
margin-top:0.2em;
margin-bottom:0em;
margin-left:1em;
margin-right:0em;
text-indent:0em;
}
.indent3-ka
{

width:70%;
font-size:100%;
text-align:justify;
margin-top:0.4em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:2em;
}
.centeralign
{

font-size:100%;
text-align:center;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:70%;
}
.center-1
{
width:70%;

font-size:100%;
text-align:center;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}


figure-1
{
	max-width:85%;
	max-height:100%;
	vertical-align:middle;
	text-align:center;
margin-left:3em;
margin-bottom:1em;
margin-right:0em;
margin-top:1.5em;
}


figcaption-1
{
width:70%;

text-align:center;
margin-left:0em;
margin-bottom:1em;
margin-right:0em;
margin-top:0em;
}

.borderbw25
{
width: 70%;
border:1px solid black;
}
.tab1
{
text-align:center;
}
.tab
{
text-align:left;
margin-left:5em;
}
.tline
{
border-top: 1px solid black;
border-bottom: 1px solid black;
padding-top: 0.3em;
padding-bottom: 0.3em;
margin-left: 0em;
}
.tline1
{
border-bottom: 1px solid black;
padding-top: 0.3em;
padding-bottom: 0.3em;
}
.table1
{

font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:100%;
}
.tabled
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}
.tabled-1
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}

.banoindent
{

font-size:100%;
text-align:center;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:70%
}
   
    
    .imgc
{

font-size:100%;
text-align:center;
margin-top:1.2em;
margin-bottom:1.2em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
width:70%;
}
.ref
{

font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:1.2em;
width:70%;
}
.term .term {
margin-left: 1em;
}
a {
text-decoration: none;
}
a:hover {
text-decoration: underline;
}